<!-- row1 has label, dropdown and button Add -->
<div class="row">
  <div class="col-xl-2 col-md-3 col-2">
    <label>Tag:</label>
  </div>
  <div class="col-xl-8 col-md-6 col-10">
    <input type="text" class="form-control" placeholder="add new tag" #inputTag (keyup)="onPressEnter($event)">
  </div>
  <div class="col-xl-2 col-md-3 col-12 mt-3 mt-md-0">
    <button class="btn btn-success" type="button" (click)="onAddTag(inputTag)">Add</button>
  </div>
</div>
<!-- row2 has list all tags added, each tags can be deleted by a 'X' button on top-right -->
<div class="row" *ngIf="tags.length > 0">
  <div class="col-12">
    <div class="tag" *ngFor="let tag of tags">
      {{ tag.tagContent }}<span class="fas fa-times-circle esc-btn" (click)="onRemoveTag(tag)"></span>
    </div>
  </div>
</div>