input {
    width: 100%;
    height: auto;
    font-size: 17px;
}

label {
    font-size: 17px;
    font-weight: bold;
}

.tag {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 15px;
    padding: 10px;
    background-color: lightgray;
    border-color: transparent;
    border-radius: 2rem;
    cursor: default;
    overflow: visible;
    position: relative;
    display: inline-block;
}

.esc-btn {
    font-size: 14px;
    position: absolute;
    top: -6px;
    right: -6px;
    cursor: pointer;
}

button {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}