<!-- row1 has label, dropdown and button Add -->
<div class="row">
  <div class="col-sm-2">
    <label for="">Tag:</label>
  </div>
  <div class="col-sm-8">
    <input type="text" class="form-control" placeholder="enter new tag">
  </div>
  <div class="col-sm-2 non-padding-left">
    <button class="btn btn-success" type="button">Add</button>
  </div>
</div>
<!-- row2 has list all tags added, each tags can be deleted by a 'X' button on top-right -->
<div class="row">
  <div class="tag">
    The South<span class="fas fa-times-circle esc-btn"></span>
  </div>
  <div class="tag">
    Travel<span class="fas fa-times-circle esc-btn"></span>
  </div>
  <div class="tag">
    Long Trip<span class="fas fa-times-circle esc-btn"></span>
  </div>
  <div class="tag">
    Cuisine<span class="fas fa-times-circle esc-btn"></span>
  </div>
</div>