<table class="table table-hover">
    <tr (click)='ClickMenuName()'>
        <th class="navbar-menu-icon">
            <img [src]=inputMenu.image>
        </th>
        <th [hidden]='!this.mtpService.isShowFullNavBar'>
            <p>{{inputMenu.name}}</p>
        </th>
        <th [hidden]='!this.mtpService.isShowFullNavBar || isSingleMenu' class="navbar-side-toggle">
            <i [ngClass]="{'fas':true, 'fa-chevron-down':isShowFullMenu, 'fa-chevron-right':!isShowFullMenu, 'fa-xs':true} "></i>
        </th>
    </tr>
    <tr [hidden]='(!isShowFullMenu && this.mtpService.isShowFullNavBar) || !this.mtpService.isShowFullNavBar' *ngFor="let item of inputMenu.listItem"
        (click)='RedirectByMenu(item.link)'>
        <td class="navbar-menu-dot">
            <i class="fas fa-circle"></i>
        </td>
        <td>
            {{item.name}}
        </td>
        <td>
        </td>
    </tr>
</table>