<!-- big row include all post content component-->
<div class="row">
  <div class="col-12">
    <!-- title for part post content -->
    <div class="row">
      <div class="col-12 p-0">
        <h3 class="bigger">Post topics:</h3>
      </div>
    </div>

    <!-- list all post-content and button add more post-content -->
    <div class="row">
      <div class="col-12">

        <!-- ngfor here, each col-12 is a row and is a post-content -->
        <div class="row myborder" *ngFor="let postContent of post.postContents">
          <div class="col-12">
            <!-- input title -->
            <br>
            <div class="row">
              <div class="col-xl-2 col-md-3 col-12 d-sm-block d-none">
                <label>Topic title:</label>
              </div>
              <div class="col-xl-10 col-md-9 col-12">
                <input type="text" class="form-control" placeholder="enter topic title" [value]="postContent.title" (blur)="onUpdateTopicTitle(postContent, $event)">
              </div>
            </div>

            <!-- input content -->
            <br>
            <div class="row">
              <div class="col-xl-2 col-md-3 col-12 d-sm-block d-none">
                <label>Content:</label>
              </div>
              <div class="col-xl-10 col-md-9 col-12">
                <textarea rows="2" class="form-control" placeholder="enter topic content" [value]="postContent.content" (blur)="onUpdateTopicContent(postContent, $event)"></textarea>
              </div>
            </div>

            <!-- add image for content -->
            <br>
            <div class="row">
              <div class="col-sm-5 col-12">
                <button class="btn btn-success bold" (click)="filePicker.click()">Add image</button>
                <input class="d-none" type="file" #filePicker (change)="onImagePicked($event, postContent)">
              </div>
              <div class="col-sm-7 col-12">
                <!-- image preview here -->
                <div class="row" *ngIf="postContent.image.length > 0">
                  <div class="col-12">
                    <img [src]="postContent.image" [alt]="postContent.imageDesc">
                    <span class="fas fa-times-circle del-img-btn" (click)="onDelImageClick(postContent)"></span>
                  </div>
                </div>
                <br>
                <!-- image description here -->
                <div class="row" *ngIf="postContent.image.length > 0">
                  <div class="col-12">
                    <input type="text" class="form-control description" placeholder="enter image description" [value]="postContent.imageDesc" (blur)="onUpdateImgDesc(postContent, $event)">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- button for delete topic-content -->
            <span class="fas fa-times-circle del-content-btn" (click)="onRemovePostContent(postContent)"></span>
          </div>
        </div>
        <!-- last row has '+' button -->
        <div class="row">
          <div class="col-12 no-padding">
            <button type="button" class="btn btn-success right" (click)="onAddPostContent()"><span class="fas fa-plus"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>