.bigger {
    font-size: 17px;
    font-weight: bold;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    font-size: 14px;
}

textarea {
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.myborder {
    border: 2px solid black;
    border-radius: 0.25rem; //padding-top: 15px; //padding-bottom: 5px;
    margin-bottom: 10px;
}

.bold {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.description {
    font-style: italic;
    text-align: center;
}

.right {
    //float: right;
    width: 100%;
    span {
        font-size: 40px;
        font-weight: bold;
    }
}

.no-padding {
    padding: 0px;
}

.del-img-btn {
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: -8px;
    right: 5px;
}

.del-content-btn {
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
}