<div class="row comp">
  <div class="col-sm-12">
    <div class="row">
      <!-- Avatar on the left -->
      <div class="col-sm-1 no-padding-right">
        <img src="assets/img/itravel.png" alt="Avatar" class="img-fluid">
      </div>
      <!-- right part -->
      <div class="col-sm-11 no-padding-left">
        <!-- Username and time -->
        <div class="col-sm-12">
          <p><span>Username</span> CreationTime</p>
        </div>
        <!-- comment content -->
        <div class="col-sm-12 no-padding-right">
          <p>All content of a comment will show here. All content of a comment will show here. All content of a comment will show here. All content of a comment will show here.</p>
        </div>
      </div>
    </div>
  </div>
</div>