@import 'src/styles.scss';
:host {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  .wrapper {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    .top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        margin: 0;
        font-weight: bolder;
      }
      span {
        cursor: pointer;
        color: $GRAY;
        font-size: 14px;
      }
    }
    hr {
      border: 1px solid #6c757d;
      width: 100%;
    }
    table {
      tr {
        td {
          vertical-align: middle;
        }

        .tour-status {
          font-weight: 600;
        }

        .tour-detail {
          display: flex;
          justify-content: center;
          color: transparent;
          button {
            margin: 0 3px;
          }
        }

        .pending-text {
          color: $GRAY;
        }
        .registering-text {
          color: $WARNING;
        }
        .preparing-text {
          color: $PRIMARY;
        }
        .running-text {
          color: $SUCCESS;
        }
        .finished-text {
          color: $BLUE-DARK;
        }
      }
    }
  }
}