<div class="wrapper">
  <div class="top-row">
    <h4>
      {{compLanguage.screenTitle}}
    </h4>
    <span class="fas fa-sync-alt"></span>
  </div>
  <hr>
  <div *ngIf="false" class="filter-row"></div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>{{compLanguage.tourName}}</th>
        <th>{{compLanguage.departureTime}}</th>
        <th>{{compLanguage.tripDuration}}</th>
        <th>{{compLanguage.status}}</th>
        <th class="tour-detail">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tour of tours; let i = index">
        <td>{{i+1}}</td>
        <td><strong>{{tour.tourName}}</strong></td>
        <td>{{tour.beginTime | date:'h:mm\' a - d/M'}}</td>
        <td>{{tour.durationTime}}{{' '+compLanguage.tripDurationUnit}}</td>
        <td class="tour-status" [ngClass]="{
            'pending-text': tour.status === tourStatus.PENDING,
            'registering-text': tour.status === tourStatus.REGISTERING,
            'preparing-text': tour.status === tourStatus.PREPARING,
            'running-text': tour.status === tourStatus.RUNNING,
            'finished-text': tour.status === tourStatus.FINISHED
          }">
          {{tour.status === tourStatus.PENDING 
            ? compLanguage.statusPending 
            : tour.status === tourStatus.REGISTERING 
            ? compLanguage.statusRegistering 
            : tour.status === tourStatus.PREPARING
            ? compLanguage.statusPreparing
            : tour.status === tourStatus.RUNNING 
            ? compLanguage.statusRunning 
            : tour.status === tourStatus.FINISHED 
            ? compLanguage.statusFinished 
            : compLanguage.statusPending}}
        </td>
        <td class="tour-detail">
          <button class="btn btn-primary" (click)="openDetail(tour)">
            {{compLanguage.detailBtn}}
          </button>
          <!-- <button class="btn btn-danger" (click)="cancelTour(tour)"> -->
          <button class="btn btn-danger"
            (click)="openConfirmCancel(compLanguage.confirmCancelTour, tour)">
            {{compLanguage.cancelTourBtn}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
