<div class="flex-3 border-box">
  <div class="alert alert-danger" *ngIf="tourModel && tourModel.status !== TOUR_STATUS.PENDING">
    {{compLanguage.notInFeedback}}
  </div>
  <app-tour-view [tourId]="tourId" *ngIf="tourModel && tourModel.status === TOUR_STATUS.PENDING"></app-tour-view>
</div>
<div class="flex-2 flex-col no-border-box">
  <div class="border-box" style="margin-bottom: 5px"
    *ngIf="tourModel && userId && tourModel.createdBy === userId && tourModel.status === TOUR_STATUS.PENDING">
    <app-tour-owner-control [tourId]="tourId" [reviewers]="tourModel.reviewers"></app-tour-owner-control>
  </div>
  <div class="border-box" style="margin-bottom: 5px"
    *ngIf="tourModel && tourModel.status === TOUR_STATUS.PENDING && tourReviewerModel">
    <app-reviewer-feedback [tourId]="tourId" [currentReview]="tourReviewerModel"></app-reviewer-feedback>
  </div>
  <div class="flex-1 right border-box" *ngIf="tourModel && tourModel.status === TOUR_STATUS.PENDING" style="overflow-y: auto; padding: 5px 15px;">
    <!-- Add Comment component here -->
    <!-- Input ['inputName']="tourId" -->
    <app-right-feedback [tourId]="tourId"></app-right-feedback>
  </div>
</div>