:host {
    .title {
        font-weight: bolder;
        font-size: 34px;
    }
    .desc {
        font-size: 17px;
        font-weight: bold;
    }
    .info {
        font-size: 14px
    }
    .author {
        color: black;
        font-weight: bold;
    }
    .container {
        margin: 0px;
        background-color: #e1e1ef;
        height: 90vh;
    }
    .content {
        margin: 10px;
        background-color: #fff;
        border-radius: 1rem;
        max-height: 89vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .content::-webkit-scrollbar {
        // width: 0px;
        // background: transparent;
        /* make scrollbar transparent */
        display: none;
    }
    .row {
        padding: 5px;
    }
    .tag {
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 5px;
        padding: 10px;
        border-color: transparent;
        border-radius: 2rem;
    }
    .tag-item {
        background-color: whitesmoke;
        cursor: pointer;
    }
}