:host {
    display: inline-block;
    border: none;
    padding: 0px;
    height: 100%;
    .title {
        font-weight: bolder;
        font-size: 34px;
    }
    .desc {
        font-size: 17px;
        font-weight: bold;
    }
    .info {
        font-size: 14px
    }
    .author {
        color: black;
        font-weight: bold;
    }
    .comp {
        background-color: #e1e1ef;
        height: 100%;
    }
    .hidden-scroll {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .max-height {
        // co thi ko bi tran, ko hieu tai sao
        // so px ko quan trong
        max-height: 100px;
    }
    .content {
        background-color: #fff;
        border-radius: 5px;
    }
    .hidden-scroll::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        display: none;
    }
    .tag {
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 2rem;
        display: inline-block;
    }
    .tag-item {
        margin-right: 10px;
        background-color: whitesmoke;
        cursor: pointer;
    }
}