:host {
    .title {
        font-weight: bolder;
        font-size: 34px;
    }
    .desc {
        font-size: 17px;
        font-weight: bold;
    }
    .info {
        font-size: 14px
    }
    .author {
        color: black;
        font-weight: bold;
    }
    .container {
        margin: 0px;
    }
    .row {
        padding: 5px;
    }
    .tag {
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 5px;
        padding: 10px;
        border-color: transparent;
        border-radius: 50px;
    }
    .tag-item {
        background-color: whitesmoke;
    }
}