<div id="backto-login-div">
    <p id="backto-login" (click)="redirectToLogin()"><span><i
                class="fas fa-arrow-left"></i></span>{{compLanguage.registerBackToLogin}}</p>
</div>
<div class="register-part">
    <div class="register-title">
        <h1>{{compLanguage.registerTitle}}</h1>
    </div>
    <div>
        <div [ngClass]="{'alert': true, 'alert-success': isShowRegisterMessage.success, 'alert-danger':isShowRegisterMessage.error}"
            role="alert" *ngIf="isShowRegisterMessage.success || isShowRegisterMessage.error">
            {{registerMessage}}
        </div>
        <form [formGroup]="registerForm" novalidate>
            <div class="form-row">
                <div class="col form-group">
                    <label>{{compLanguage.registerFirstName}} <span>(*)</span>:</label>
                    <input type="text" formControlName="firstName" [attr.disabled]="isLoading ? '' : null"
                        class="form-control" [placeholder]="compLanguage.registerEnterFirstname"
                        name="firstname">
                    <div *ngIf="!registerForm.get('firstName').valid && (registerForm.get('firstName').dirty || registerForm.get('firstName').touched)"
                        class="form-mess">
                        <div *ngIf="registerForm.get('firstName').hasError('required')" class="error-mess">
                            {{compLanguage.registerErrorFirstNameRequired}}
                        </div>
                    </div>
                </div>
                <div class="col form-group">
                    <label>{{compLanguage.registerLastName}}</label>
                    <input type="text" formControlName="lastName" [attr.disabled]="isLoading ? '' : null"
                        class="form-control" [placeholder]="compLanguage.registerEnterLastname"
                        name="lastname">
                </div>
            </div>
            <div class="form-group">
                <label>{{compLanguage.registerUsername}} <span>(*)</span>:</label>
                <input type="text" formControlName="username" [attr.disabled]="isLoading ? '' : null"
                    class="form-control" [placeholder]="compLanguage.registerEnterUsername" name="username">
                <div *ngIf="!registerForm.get('username').valid && (registerForm.get('username').dirty || registerForm.get('username').touched)"
                    class="form-mess">
                    <div *ngIf="registerForm.get('username').hasError('required')" class="error-mess">
                        {{compLanguage.registerErrorUsernameRequired}}
                    </div>
                    <div *ngIf="registerForm.get('username').hasError('minlength') || registerForm.get('username').hasError('maxlength')"
                        class="error-mess">
                        {{compLanguage.registerErrorUsernameLength}}
                    </div>
                    <div *ngIf="registerForm.get('username').hasError('pattern')" class="error-mess">
                        {{compLanguage.registerErrorUsernamePattern}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{compLanguage.registerPassword}} <span>(*)</span>:</label>
                <input type="password" formControlName="password" [attr.disabled]="isLoading ? '' : null"
                    class="form-control" [placeholder]="compLanguage.registerEnterPassword" name="password">
                <div *ngIf="!registerForm.get('password').valid && (registerForm.get('password').dirty || registerForm.get('password').touched)"
                    class="form-mess">
                    <div *ngIf="registerForm.get('password').hasError('required')" class="error-mess">
                        {{compLanguage.registerErrorPasswordRequired}}
                    </div>
                    <div *ngIf="registerForm.get('password').hasError('minlength')" class="error-mess">
                        {{compLanguage.registerErrorPasswordLength}}
                    </div>
                    <div *ngIf="registerForm.get('password').hasError('pattern')" class="error-mess">
                        {{compLanguage.registerErrorPasswordPattern}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>{{compLanguage.registerConfirmPassword}} <span>(*)</span>:</label>
                <input type="password" formControlName="confirmPassword" [attr.disabled]="isLoading ? '' : null"
                    class="form-control" [placeholder]="compLanguage.registerEnterConfirmPassword">
                <div *ngIf="!registerForm.get('confirmPassword').valid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)"
                    class="form-mess">
                    <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="error-mess">
                        {{compLanguage.registerErrorPasswordRequired}}
                    </div>
                    <div *ngIf="registerForm.get('confirmPassword').hasError('minlength')" class="error-mess">
                        {{compLanguage.registerErrorPasswordLength}}
                    </div>
                    <div *ngIf="registerForm.get('confirmPassword').hasError('pattern')" class="error-mess">
                        {{compLanguage.registerErrorPasswordPattern}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check-inline">
                    <input type="checkbox" formControlName="acceptPolicies" [attr.disabled]="isLoading ? '' : null"
                        class="form-check-input">
                    <p>{{compLanguage.registerAcceptPolicies}}</p>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" (click)="registerUser()" class="btn btn-success"
                    [disabled]="registerForm.invalid || !registerForm.get('acceptPolicies').value || isLoading">
                    {{compLanguage.registerRegister}}
                </button>
                <app-loading *ngIf="isLoading"></app-loading>
                <button type="button" (click)="redirecToHome()" class="btn btn-danger"
                    [disabled]="isLoading">{{compLanguage.registerBackToHome}}</button>
            </div>
        </form>
    </div>
</div>