<table class="table table-hover">
    <tr (click)='isShowFull = !isShowFull'>
        <th class="icon">
            <img [src]=inputMenu.Image>
        </th>
        <th>{{inputMenu.Name}}</th>
        <th class="iconShow" >
            <i [ngClass]="{'fas':true, 'fa-chevron-down':true, 'fa-rotate-180':isShowFull} "></i>
        </th>
    </tr>
    <tr [hidden]="!isShowFull" *ngFor="let catagory of inputMenu.Catagories">
        <td></td>
        <td>{{catagory.Name}}</td>
        <td></td>
    </tr>
</table>