:host {
    display: block;
    table {
        margin: 0;
        th, td {
            div {
                height: 100%;
                display: flex;
                align-items: stretch;
                align-self: stretch;
                p {
                    padding-top: 0;
                    margin: auto;
                }
            }
        }
        .icon {
            width: 50px;
            img {
                display: block;
                width: 25px;
                height: 25px;
                margin: 0 auto;
            }
        }
        .iconShow {
            width: 5px;
            height: 5px;
            font-size: 12px !important;
        }
        * {
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
              -webkit-user-select: none; /* Safari */
               -khtml-user-select: none; /* Konqueror HTML */
                 -moz-user-select: none; /* Firefox */
                  -ms-user-select: none; /* Internet Explorer/Edge */
                      user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome and Opera */
        }
    }
}

