<div class="flex-row flex-justify-end">
  <span class="fas fa-times-circle esc-btn"></span>
</div>
<div class="form-group flex-row">
  <div class="row-label">
    {{language.currentLanguage.addScheduleDay}}
  </div>
  <div class="row-input flex-row flex-content-space-evenly">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="startDate" ngbDatepicker
        #startdate="ngbDatepicker" #modelstartdate="ngModel">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="startdate.toggle()" type="button">
          <span><i class="fas fa-calendar-alt"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="form-group flex-row">
  <div class="row-label">
    {{language.currentLanguage.addSchedulePeriod}}
  </div>
  <div class="row-input flex-row flex-content-space-evenly flex-items-center">
    <span>{{language.currentLanguage.from}}</span>
    <ngb-timepicker name="beginTime" [(ngModel)]="beginTime"></ngb-timepicker>
    <span>{{language.currentLanguage.to}}</span>
    <ngb-timepicker name="endTime" [(ngModel)]="endTime"></ngb-timepicker>
  </div>
</div>
<div class="form-group flex-row">
  <div class="row-label">
    {{language.currentLanguage.addScheduleKindof}}
  </div>
  <div class="row-input flex-row">
    <select class="form-control flex-1 flex-items-center row-first-input">
      <option>{{language.currentLanguage.addScheduleKindMoving}}</option>
      <option>{{language.currentLanguage.addScheduleKindEating}}</option>
      <option>{{language.currentLanguage.addScheduleKindVisiting}}</option>
      <option>{{language.currentLanguage.addScheduleKindRelaxing}}</option>
      <option>{{language.currentLanguage.addScheduleKindFreedom}}</option>
      <option>{{language.currentLanguage.addScheduleKindOthers}}</option>
    </select>
    <input type="text" class="form-control flex-1 flex-items-center row-second-input"
      [placeholder]="language.currentLanguage.addScheduleNote">
  </div>
</div>
<div class="flex-row flex-justify-end">
  <span class="link-add-more">+{{language.currentLanguage.addScheduleAddTask}}</span>
</div>
<div class="form-group flex-row">
  <div class="row-label">
    {{language.currentLanguage.addSchedulePerform}}
  </div>
  <div class="row-input">
    <select class="form-control">
      <option>Test</option>
    </select>
  </div>
</div>
<div class="flex-row flex-justify-end">
  <span class="link-add-more">+{{language.currentLanguage.addScheduleAddPerform}}</span>
</div>
<div class="form-group flex-row">
  <div class="row-label">
    {{language.currentLanguage.addScheduleCost}}
  </div>
  <div class="row-input">
    <input type="number" class="form-control">
  </div>
</div>
<div class="flex-row flex-justify-end">
  <input type="button" class="form-control btn btn-outline-secondary" [value]="language.currentLanguage.ok" style="width: 75px;">
</div>