<div class="wrapper">
  <div class="p-3">
    <span class="mr-4">
      <b>{{compLanguage.memberLimit+': '}}</b>{{tourData.memberLimit}}
      {{compLanguage.memberLimitUnit}}
    </span>
    <span><b>{{compLanguage.available+': '}}</b>{{available}}</span>
  </div>
  <div class="member-list">
    <div *ngFor="let member of tourData.members; let i=index"
      [ngClass]="{canceled: member.cancelTime}"
      class="member-item p-3">
      <div class="avatar"
        [ngStyle]="{'background-image': 'url('+tourMemberInfo[i].basicInfo.avatar+')'}">
      </div>
      <div class="right ml-4">
        <span class="name">
          <b>{{tourMemberInfo[i].basicInfo.firstName+' '+tourMemberInfo[i].basicInfo.lastName}}</b>
        </span>
        <span
          *ngIf="allowSeeUserPrivateInfo.includes(currentPath)">
          <b>{{compLanguage.contact}}:</b>
          {{tourMemberInfo[i].tourInfo.contactNumber}}</span>
        <span
          *ngIf="allowSeeUserPrivateInfo.includes(currentPath) && tourMemberInfo[i].tourInfo.memberId !== tourData.tourGuideId && tourMemberInfo[i].tourInfo.cost>0">
          <b>{{compLanguage.needToPay}}:</b>
          {{tourMemberInfo[i].tourInfo.cost | currency:'VND'}}
        </span>
        <span
          *ngIf="allowSeeUserPrivateInfo.includes(currentPath)">
          <b>{{compLanguage.registerFor}}:</b>
          {{tourMemberInfo[i].tourInfo.registerFor}}
        </span>
        <span class="tour-guide"
          *ngIf="tourMemberInfo[i].tourInfo.memberId === tourData.tourGuideId"><b>{{compLanguage.tourguide}}</b>
        </span>
        <div
          *ngIf="allowSeeUserPrivateInfo.includes(currentPath) && tourMemberInfo[i].tourInfo.memberId !== tourData.tourGuideId">
          <span class="collected fas fa-hand-holding-usd"
            *ngIf="tourMemberInfo[i].tourInfo.cost===0">
            {{compLanguage.collectedMoney}}
          </span>
          <button class="btn btn-warning"
            *ngIf="tourMemberInfo[i].tourInfo.cost>0"
            [disabled]="member.cancelTime"
            (click)="onCollectedMoney(tourMemberInfo[i].tourInfo._id, i)">
            {{compLanguage.verifyCollectedMoney}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
