@import 'src/styles.scss';
:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  .wrapper {
    display: flex;
    flex-direction: column;
    span {
      font-size: 17px;
      b {
        font-size: 17px;
        font-weight: 600;
      }
    }
    .member-list {
      display: flex;
      flex-wrap: wrap;
      .member-item {
        display: flex;
        align-items: center;
        width: 45%;
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: turquoise;
          background-size: cover;
          background-position: center;
        }
        .right {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .name {
            color: blue;
          }
          .tour-guide {
            color: rgb(179, 0, 179);
          }
          .collected {
            color: $SUCCESS;
            cursor: default;
          }
        }
      }
      .canceled {
        background-color: #a06e6e;
        border-radius: 0.25rem;
      }
    }
  }
}
