<div class="flex-row flex-justify-end" *ngIf="!hasFinishedInput">
  <span class="fas fa-times-circle esc-btn" (click)="removePreparation()"></span>
</div>
<div class="flex-col" *ngIf="!hasFinishedInput">
  <div class="flex-row form-group">
    <div class="row-label">
      {{compLanguage.addPreparationItemName}}
    </div>
    <div class="row-input">
      <input type="text" class="form-control" name="item-name" (change)="isInvalidDate = false"
        [placeholder]="commonLanguage.enter + compLanguage.addPreparationItemName"
        [(ngModel)]="preparationModel.itemName">
    </div>
  </div>
  <div class="flex-row flex-justify-end" style="color: red" *ngIf="isInvalidDate">
    {{commonLanguage.invalidInputData}}
  </div>
  <div class="flex-row form-group">
    <div class="row-label">
      {{compLanguage.addPreparationAmount}}
    </div>
    <div class="row-input form-group flex-row">
      <div class="flex-1 ">
        <input type="number" class="form-control" name="amount" [(ngModel)]="preparationModel.amount">
      </div>
      <div class="flex-1">
        <select class="form-control" name="unit" [(ngModel)]="preparationModel.unit">
          <option selected value="Glass"> {{compLanguage.addPreparationGlassOf}}</option>
          <option value="Bowl"> {{compLanguage.addPreparationBowlOf}}</option>
          <option value="Slice"> {{compLanguage.addPreparationSliceOf}}</option>
          <option value="Carton"> {{compLanguage.addPreparationCartonOf}}</option>
          <option value="Piece"> {{compLanguage.addPreparationPieceOf}}</option>
          <option value="Bag"> {{compLanguage.addPreparationBagOf}}</option>
          <option value="Bar"> {{compLanguage.addPreparationBarOf}}</option>
          <option value="Bottle"> {{compLanguage.addPreparationBottleOf}}</option>
          <option value="Roll"> {{compLanguage.addPreparationRollOf}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="flex-row form-group">
    <div class="row-label">
      {{compLanguage.addPreparationDeadline}}
    </div>
    <div class="row-input flex-row">
      <div class="flex-1 flex-items-center">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="preparation-date" [(ngModel)]="preparationDeadline"
            ngbDatepicker #preparationDate="ngbDatepicker" #modelpreparationDate="ngModel" [maxDate]="maxDate">
          <div class="input-group-append" (change)="onChangeDeadline()">
            <button class="btn btn-outline-secondary calendar" (click)="preparationDate.toggle()" type="button">
              <span><i class="fas fa-calendar-alt"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row form-group">
    <div class="row-label">
      {{compLanguage.addPreparationPerforms}}
    </div>
    <div class="row-input flex-col form-check">
      <div class="flex-row">
        <div class="form-check flex-1">
          <input class="form-check-input" type="radio" name="performs" value="toAll"
            (change)="preparationModel.isRequired = true; onSelectPerform()" [checked]="preparationModel.isRequired">
          <label class="form-check-label">
            {{compLanguage.addPreparationToAll}}
          </label>
        </div>
        <div class="form-check flex-1">
          <input class="form-check-input" type="radio" name="performs" value="select"
            (change)="preparationModel.isRequired = false; onSelectPerform()" [checked]="!preparationModel.isRequired">
          <label class="form-check-label">
            {{compLanguage.addPreparationSelectPerform}}
          </label>
        </div>
      </div>
      <div class="flex-row form-group" *ngFor="let perform of arrPerforms; let i = index">
        <input *ngIf="!preparationModel.isRequired" class="form-control flex-1" type="text"
          [value]="perform.displayName" readonly>
        <input *ngIf="!preparationModel.isRequired" class="form-control flex-1" type="number"
          [(ngModel)]="perform.amount" (change)="onChangePerformerAmountItem()">
      </div>
    </div>
  </div>
  <div class="flex-row form-group">
    <div class="row-label">
      {{compLanguage.addPreparationNotes}}
    </div>
    <div class="row-input">
      <input type="text" class="form-control" [placeholder]="commonLanguage.enter + compLanguage.addPreparationNotes"
        [(ngModel)]="preparationModel.note" name="note">
    </div>
  </div>
  <div class="flex-row flex-justify-end">
    <input type="button" class="form-control btn btn-outline-secondary" [value]="commonLanguage.ok" style="width: 75px;"
      (click)="finishedPreparation()">
  </div>
</div>
<div class="flex-col preparation-review" *ngIf="hasFinishedInput" (click)="hasFinishedInput = false">
  <div class="flex-row">
    <div class="flex-1 preparation-title">
      {{preparationModel.itemName}}
    </div>
    <div class="flex-1 preparation-title">
      {{preparationModel.amount + preparationModel.unit}}
    </div>
    <span class="fas fa-times-circle esc-btn" (click)="removePreparation()"></span>
  </div>
  <div class="flex-row flex-items-center">
    <span><i class="fas fa-chevron-down"></i></span>
  </div>
</div>