:host {
    .comp {
        padding-top: 10px;
    }
    .inform {
        text-align: center;
        font-size: 24px;
        color: gray;
        font-style: italic;
        display: block;
        padding-bottom: 15px;
    }
}