<div class="left col-xs-12 col-sm-6">
  <img src="assets/img/itravel.png" alt="logo">
</div>
<div class="right col-xs-12 col-sm-6">
  <div class="form">
    <p class="title">I Travel</p>
    <div>
      <p class="label">Username:</p>
      <div class="textBox">
        <span class="fas fa-user-tie"></span>
        <input type="text" placeholder="6-16 characters">
      </div>
      <p class="error">Username can't be empty</p>
    </div>
    <div>
      <p class="label">Password:</p>
      <div class="textBox">
        <span class="fas fa-key"></span>
        <input type="text" placeholder="6-16 characters">
      </div>
      <p class="error">Password can't be empty</p>
    </div>
    <div>
      <a id="forgot" href="#">Forgot password</a>
      <a id="register" href="#">Register</a>
    </div>
    <div class="btnContainer">
      <button id="btnLogin">Login</button>
      <button id="btnLoginGoogle">Login by Google</button>
    </div>
  </div>
</div>