@import 'src/styles.scss';

:host {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .filter-box {
        flex: 2.5 1;
        height: 95%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .chart-box {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        padding: 10px;

        .region-title {
            height: fit-content;
            border-bottom: 1px solid $GRAY;
        }

        .region-chart {
            flex: 1 1;
            display: flex;
            flex-direction: column;

            h6 {
                margin: 3px;
                color: $GREEN;
                font-weight: bold;
            }

            #post-ratio {
                flex: 1 1;
            }
        }
    }
}