<div id="div-map">
	<svg x="0px" y="0px" viewBox="0 0 750 870"
		xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">	
		<g>
			<path *ngFor="let province of listProvinces" [id]="province.provinceId" 
					[ngClass]="{'land': true, 'some-post': getCountAmountPostOfProvince(province.provinceName) > 0, 'more-post': getCountAmountPostOfProvince(province.provinceName) > 50, 'much-more-post': getCountAmountPostOfProvince(province.provinceName) > 200}" [attr.d]="province.mapId" (click)="setSelectProvince(province.provinceId)"
					(mouseenter)="getPathInformation($event, province.provinceId)" (mouseleave)="leavePath()">
			</path>
		</g>
	</svg>
</div>
<div id="location-popup" *ngIf="isShowPopup()" 
	[style.top]="this.popupInfo.position_Y"
	[style.left]="this.popupInfo.position_X">
	<!-- (mouseenter)="focusPopup()" (mouseleave)="leavePopup()"> -->
	<div id="popup-header" class="rounded-top border border-success">
		<p>{{this.popupInfo.provinceName}}</p>
	</div>
	<div id="popup-content" class="rounded-bottom border border-success">
	  <div>
		<p>{{this.popupInfo.postCount}} posts</p>
	  </div>
	  <!-- <div>
		  <button class="btn btn-sm btn-success"><span class="glyphicon glyphicon-send">Find</span></button>
	  </div> -->
	</div>
</div>
