<div
    [ngClass]="{'header': true, 'navbar-show':this.masterPage.isShowFullNavBar, 'navbar-hide':!this.masterPage.isShowFullNavBar}">
    <div class="logo" *ngIf="this.masterPage.isShowFullNavBar">
        <a href="#">
            <img src="../../../assets/img/logo_with_text.png">
        </a>
    </div>
    <div class="slide-icon" (click)='this.masterPage.isShowFullNavBar = !this.masterPage.isShowFullNavBar'>
        <i class="fas fa-bars"></i>
    </div>
</div>
<!--toolbar-->
<div class="toolbar">
    <div class="search-bar">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input type="text" [(ngModel)]="searchBoxText" name="search" class="form-control"
                [placeholder]="compLanguage.headerSearch" (keydown)="searchByText($event)">
            <div class="input-group-append">
                <span class="input-group-text"><i class="la la-close kt-quick-search__close"
                        style="display: none;"></i></span>
            </div>
        </div>
    </div>

    <div ngbDropdown class="toolbar-icon" placement="bottom-right">
        <span ngbDropdownToggle id="notification-action"><i class="far fa-bell"></i></span>
        <div ngbDropdownMenu aria-labelledby="post-management-action" class="p-0 my-top" id="notification-action">
            <app-notification></app-notification>
        </div>
    </div>

    <div ngbDropdown class="toolbar-icon" placement="bottom-right">
        <span ngbDropdownToggle><i class="fas fa-globe-asia"></i></span>
        <div ngbDropdownMenu>
            <a class="dropdown-item" (click)="this.language.setVietnamese();">{{compLanguage.headerVietnamese}}</a>
            <a class="dropdown-item" (click)="this.language.setEnglish();">{{compLanguage.headerEnglish}}</a>
        </div>
    </div>

    <div class="toolbar-icon" *ngIf="false">
        <span><i class="fas fa-cog"></i></span>
    </div>

    <div ngbDropdown *ngIf="user.isLogin" class="toolbar-icon-wide dropdown">
        <span ngbDropdownToggle>
            {{compLanguage.headerHi}} <strong>{{this.user.currentUser.fullName}}</strong>
        </span>
        <img ngbDropdownToggle [src]="this.user.currentUser.avatar" id="user-avatar">
        <div ngbDropdownMenu id="user-dropdown">
            <a *ngIf="false" class="dropdown-item" [routerLink]="['/user/profile']"
                routerLinkActive="router-link-active">{{compLanguage.headerPersonalInfo}}</a>
            <a class="dropdown-item" [routerLink]="['/user/update-profile']"
                routerLinkActive="router-link-active">{{compLanguage.headerUpdateProfile}}</a>
            <a class="dropdown-item" [routerLink]="['/user/posts']"
                routerLinkActive="router-link-active">{{compLanguage.headerUserContribution}}</a>
            <a class="dropdown-item" [routerLink]="['/user/tours']"
                routerLinkActive="router-link-active">{{compLanguage.headerUserTour}}</a>
            <a class="dropdown-item" (click)="this.user.logOut()">{{compLanguage.headerLogOut}}</a>
        </div>
    </div>

    <div ngbDropdown *ngIf="!user.isLogin" class="toolbar-icon-wide dropdown">
        <span ngbDropdownToggle id="login-span">
            {{compLanguage.headerHi}}
            <strong>{{compLanguage.headerQuestionToLogin}}</strong>
        </span>
        <div ngbDropdownMenu id="visiter-dropdown">
            <a class="dropdown-item" [routerLink]="['/auth/login']">{{compLanguage.headerLogin}}</a>
            <a class="dropdown-item" [routerLink]="['/auth/register']">{{compLanguage.headerRegister}}</a>
        </div>
    </div>
</div>