
<div [ngClass]="{'header': true, 'navbar-show':this.mtpService.isShowFullNavBar, 'navbar-hide':!this.mtpService.isShowFullNavBar}">
    <div class="logo" *ngIf="this.mtpService.isShowFullNavBar">
        <a href="#">
            <img src="../../../assets/img/logo_with_text.png">
        </a>
    </div>
    <div class="slide-icon" (click)='this.mtpService.isShowFullNavBar = !this.mtpService.isShowFullNavBar'>
        <i class="fas fa-bars" ></i>
    </div>
</div>
<!--toolbar-->
<div class="toolbar">
    <div class="toolbar-icon dropdown">
        <span (click)="changeHeaderFlagByFlagName('isShowSearchBox')">
            <i class="fas fa-search"></i>
        </span>  
        <div [ngClass]="{'dropdown-menu': true, 'dropdown-show-column':headerFlags.isShowSearchBox}" id="search-dropdown">
            <form class="form-inline" (submit)="searchByText()">
                <input type="text"  [(ngModel)]="searchBoxText" name="search"
                    class="form-control" placeholder="Enter word to search">
                <button type="submit" (click)="searchByText()" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
    <div class="toolbar-icon">
        <span><i class="far fa-bell"></i></span>
    </div>
    <div class="toolbar-icon dropdown">
        <span (click)="changeHeaderFlagByFlagName('isShowLanguage')">
            <i class="fas fa-globe-asia"></i>
        </span>
        <div [ngClass]="{'dropdown-menu': true, 'dropdown-show':headerFlags.isShowLanguage}" id="language-dropdown">
            <a class="dropdown-item" href="#">Vietnamese</a>
            <a class="dropdown-item" href="#">English</a>
        </div>
    </div>
    <div class="toolbar-icon">
        <span><i class="fas fa-cog"></i></span>
    </div>
    <div class="toolbar-icon">
        <span>Hi, </span>
        <img>
    </div>
</div>