
<div class="col-xs-8 col-sm-3 col-md-3 header">
    <div class="logo">
        <a href="#">
            <img src="../../../assets/img/logo_with_text.png">
        </a>
    </div>
    <div class="slide-icon">
        <i class="fas fa-bars" ></i>
    </div>
</div>
<!--toolbar-->
<div class="col-xs-11 col-sm-9 col-md-9 toolbar">
    <div class="toolbar-icon">
        <span><i class="fas fa-search"></i></span>    
    </div>
    <div class="toolbar-icon">
        <span><i class="far fa-bell"></i></span>
    </div>
    <div class="toolbar-icon">
        <span><i class="fas fa-cog"></i></span>
    </div>
    <div class="toolbar-icon">
        <span>Hi, </span>
        <img>
    </div>
</div>
