<div class="container comp col-xl-7 col-md-8 col-12">
  <form>
    <div class="row">
      <div class="col-12">
        <!-- row1 has title -->
        <div class="row form-group">
          <div class="col-xl-2 col-md-3 col-12">
            <label>Title:</label>
          </div>
          <div class="col-xl-10 col-md-9 col-12">
            <input class="form-control" type="text" name="title" placeholder="enter post title" [value]="post.title"
              (blur)="onUpdateTitle($event)">
          </div>
        </div>
        <!-- row2 has description -->
        <div class="row form-group">
          <div class="col-xl-2 col-md-3 col-12">
            <label>Description:</label>
          </div>
          <div class="col-xl-10 col-md-9 col-12">
            <textarea name="description" class="form-control" rows="2" placeholder="enter description" [value]="post.description"
              (blur)="onUpdateDescription($event)"></textarea>
          </div>
        </div>
        <!-- row3 has add-cover-button and preview -->
        <div class="row form-group">
          <div class="col-sm-5 col-12">
            <button class="btn btn-success" type="button" (click)="filePicker.click()">Add Cover</button>
            <input class="d-none" type="file" #filePicker (change)="onImagePicked($event)">
          </div>
          <div class="col-sm-7 col-12" *ngIf="post.cover.length > 0">
            <img [src]="post.cover" alt="preview">
            <span class="fas fa-times-circle esc-btn" (click)="onDelImageClick()"></span>
          </div>
        </div>
        <!-- row4 has create-category component -->
        <div class="row form-group">
          <div class="col-12">
            <app-create-category [post]="post"></app-create-category>
          </div>
        </div>
        <!-- row5 has create-tag component -->
        <div class="row form-group">
          <div class="col-12">
            <app-create-tag [post]='post'></app-create-tag>
          </div>
        </div>
        <!-- row6 has create-location component -->
        <div class="row form-group">
          <div class="col-12">
            <app-create-location [post]="post"></app-create-location>
          </div>
        </div>
        <!-- row7 has create-post-content component -->
        <div class="row form-group">
          <div class="col-12">
            <app-create-post-content [post]='post'></app-create-post-content>
          </div>
        </div>
        <!-- row8 has create-post-content component -->
        <div class="row form-group">
          <div class="col-12 no-padding">
            <button class="btn btn-warning" (click)="onCancel()">Cancel</button>
            <button class="btn btn-success" (click)="onSave()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>