.container {
    margin: 0px;
    display: block;
}

.row {
    padding: 5px;
}

input[type="text"] {
    width: 100%;
    font-size: 17px;
}

textarea {
    width: 100%;
    font-size: 17px;
}

.comp {
    background-color: #e1e1ef;
    height: 100%;
}

.hidden-scroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.max-height {
    // co thi ko bi tran, ko hieu tai sao
    // so px ko quan trong
    max-height: 100px;
}

.content {
    background-color: #fff;
    border-radius: 5px;
}

.hidden-scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

label {
    font-size: 17px;
    font-weight: bold;
}

button {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}

.esc-btn {
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 11px;
}

.pointer{
 cursor: pointer;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
    button {
        margin-left: 15px;
    }
}

.del-content-btn {
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.pre-line{
    white-space: pre-line;
}