select {
    width: 100%;
    font-size: 17px;
    height: auto;
    option {
        font-size: 17px;
    }
}

label {
    font-size: 17px;
    font-weight: bold;
}

.tag {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 15px;
    padding: 10px;
    border-color: transparent;
    border-radius: 0.5rem;
    background-color: lightgray;
    overflow: visible;
    position: relative;
    display: inline-block;
    cursor: default;
}

.remove-btn {
    font-size: 14px;
    position: absolute;
    top: -6px;
    right: -6px;
    cursor: pointer;
}