select {
    width: 100%; // height: auto;
    font-size: 17px;
    option {
        font-size: 17px;
    }
}

label {
    font-size: 17px;
    font-weight: bold;
}

.tag {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 7px;
    padding: 10px;
    border-color: transparent;
    border-radius: 0.5rem;
    background-color: lightgray;
    cursor: pointer;
    overflow: visible;
    position: relative;
}

.esc-btn {
    font-size: 14px;
    position: absolute;
    top: -6px;
    right: -6px;
}