<!-- row1 has label, dropdown and button Add -->
<div class="row">
    <div class="col-sm-2">
        <label for="">Category:</label>
    </div>
    <div class="col-sm-10">
        <select class="form-control">
            <option value="Travel">Travel</option>
            <option value="Cuisine">Cuisine</option>
            <option value="Plan">Experience</option>
        </select>
    </div>
    <!-- <div class="col-sm-6">
        <button class="btn btn-default" type="button">ADD</button>
    </div> -->
</div>
<!-- row2 has list all categories added, each category can delete by a X button on top-right -->
<div class="row">
    <div class="tag">
        The South<span class="fas fa-times-circle esc-btn"></span>
    </div>
    <div class="tag">
        Travel<span class="fas fa-times-circle esc-btn"></span>
    </div>
    <div class="tag">
        Long Trip<span class="fas fa-times-circle esc-btn"></span>
    </div>
    <div class="tag">
        Cuisine<span class="fas fa-times-circle esc-btn"></span>
    </div>
</div>