<!-- row1 has label, dropdown and button Add -->
<div class="row">
    <div class="col-sm-3">
        <label for="">Category:</label>
    </div>
    <div class="col-sm-3">
        <select class="form-control">
            <option value="Travel">Travel</option>
            <option value="Cuisine">Cuisine</option>
            <option value="Plan">Plan</option>
        </select>
    </div>
    <!-- <div class="col-sm-6">
        <button class="btn btn-default" type="button">ADD</button>
    </div> -->
</div>
<!-- row2 has list all categories added, each category can delete by a X button on top-right -->
<div class="row">

</div>