<div class="flex-row flex-1">
    <div class="index-part" id="vn-map">
        <div class="content-box">
            <app-viet-nam-map></app-viet-nam-map>
        </div>
    </div>
    <div class="index-part">
        <div class="content-box list-post">
            <div class="list-post-title">
                <h4>
                    {{compLanguage.homeIndexPostIn}}
                    {{masterPage.selectedProvince}}
                </h4>
                <span (click)="refreshListPost()"><i class="fas fa-sync-alt"></i></span>
            </div>
            <app-loading *ngIf="isLoadingPost"></app-loading>
            <div class="list-post-content" *ngIf="!isLoadingPost">
                <app-card-view-post *ngFor="let post of listShowCardViewPosts" [inputPost]="post"></app-card-view-post>
            </div>
        </div>
    </div>
</div>
<div class="flex-row flex-1">
    <div class="border-box flex-3 flex-col" style="margin-right: 5px; margin-top: 0px;">
        <div class="border-box-title">
            <h4>{{compLanguage.homeTourAvailable}}</h4>
        </div>
        <app-loading *ngIf="isLoadingTour"></app-loading>
        <div class="flex-1" *ngIf="!isLoadingTour" style="overflow-y: auto">
            <app-horizontal-card-view-tour
                *ngFor="let tour of arrRegisteringTour | slice: (pageRegisteringTour-1) * pageSizeRegisteringTour : (pageRegisteringTour-1) * pageSizeRegisteringTour + pageSizeRegisteringTour"
                [tourCardViewModel]="tour">
            </app-horizontal-card-view-tour>
        </div>
        <div class="flex-row flex-justify-end">
            <ngb-pagination [(page)]="pageRegisteringTour" [pageSize]="pageSizeRegisteringTour"
                [collectionSize]="arrRegisteringTour.length">
            </ngb-pagination>
        </div>
    </div>
    <div class="border-box flex-1 flex-col" style="margin-left: 5px; margin-top: 0px;">
        <div class="border-box-title">
            <h4>{{compLanguage.homeTourBuilding}}</h4>
        </div>
        <app-loading *ngIf="isLoadingTour"></app-loading>
        <div class="flex-1 flex-col arr-pending" *ngIf="!isLoadingTour">
            <div class="flex-row pending-tour"
                *ngFor="let tour of arrPendingTour | slice: (pagePendingTour-1) * pageSizePendingTour : (pagePendingTour-1) * pageSizePendingTour + pageSizePendingTour"
                (click)="redirectToBuilding(tour._id)">
                <div class="flex-4 flex-col">
                    <h4>
                        <u># {{tour.tourName}}</u>
                    </h4>
                    <div class="flex-row">
                        <span>
                            {{compLanguage.homeTourCloseFeedback}}
                        </span>
                        <span class="bold" style="margin-left: 5px">
                            {{tour.closeFeedbackTime | date:'dd/MM/yyyy'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row flex-justify-end">
            <ngb-pagination [(page)]="pagePendingTour" [pageSize]="pageSizePendingTour"
                [collectionSize]="arrPendingTour.length">
            </ngb-pagination>
        </div>
    </div>
</div>