:host {
  .modal-title {
    font-size: 20px;
    font-weight: 700;
  }

  .modal-body-custom {
    height: 500px;
    display: flex;
    ngb-tabset {
      width: 100%;
      .title {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
