<!-- row1 has location name -->
<div class="row">
  <div class="col-sm-2">
    <label for="">Location name:</label>
  </div>
  <div class="col-sm-10">
    <input type="text" name="location name" class="form-control" placeholder="đảo trường sa">
  </div>
</div>
<!-- row2 has location address -->
<div class="row">
  <div class="col-sm-2">
    <label for="">Address:</label>
  </div>
  <div class="col-sm-10">
    <input type="text" name="address" class="form-control" placeholder="number 1 Wall street">
  </div>
</div>
<!-- row3 has select box for province -->