<div class="row comp">
  <div class="col-md-12">
    <!-- row 1 has an image -->
    <div class="row">
      <img class="img-fluid" src="http://genknews.genkcdn.vn/2018/11/5/qf0r4hckaxfa1541005853814-15414145016561454155729.jpg"
        alt="image 1">
    </div>
    <!-- row 2 has paragraph -->
    <div class="row mid">
      <p>Kí ức lúc nào cũng đẹp, đôi khi đến mối tình cũ còn đẹp huống hồ game huyền thoại như WarCraft III. Để có thể
        tái hiện được một hình tượng đẹp đến vậy, tồn tại trong lòng game thủ cả chục năm trời, Blizzard phải vượt qua
        rất nhiều trở ngại. Người ta mê đắm đến cả cái đồ họa hình khối của WarCraft III và đã quá quen thuộc với nó,
        rất khó để chiều lòng những game thủ vốn khó tính bằng một thứ hào nhoáng hơn xưa.

        Nhưng Blizzard đã không làm cho fan thất vọng khi làm lại StarCraft 2, ta có thể tự tin trông đợi một siêu phẩm
        khác, một WarCraft III: Reforged đẹp tuyệt vời, có tiềm năng hồi sinh lại những giá trị đã mai một theo thời
        gian.</p>
    </div>
    <!-- row 3 has another image -->
    <div class="row bottom">
      <img src="http://genknews.genkcdn.vn/2018/11/5/f4538lxkmn3e1541005871952-1541414548905962486365.jpg" alt="image 2"
        class="img-fluid">
    </div>
  </div>
</div>