<div class="row comp">
  <div class="col-12">
    <div class="row">
      <!-- Avatar on the left -->
      <div class="col-1 pr-0">
        <img [src]="commentAuthorAvatar" alt="Avatar" class="img-fluid">
      </div>
      <!-- right part -->
      <div class="col-11 pl-0">
        <!-- Username and time -->
        <div class="col-12">
          <p><span>{{ commentAuthorName }}</span> - {{ creationTimeString }}</p>
        </div>
        <!-- comment content -->
        <div class="col-12 pr-0">
          <p>{{ commentItem.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>