:host {
    img {
        background-color: black;
        border-radius: 0.25rem;
    }
    p {
        font-size: 17px;
        margin-bottom: 0px;
        span {
            font-size: 17px;
            font-weight: bold;
            color: blue;
        }
    }
    .btn {
        font-size: 17px;
        font-weight: bold;
        color: gray;
    }
    .comp {
        padding-bottom: 15px;
    }
    .no-pointer {
        cursor: default;
    }
}