<div class="user-profile-part user-profile-header">
  <div class="user-profile-header-part user-profile-name">
    <img [src]="currentUser.avatar">
    <div>
      <h3>{{currentUser.firstName | titlecase}}</h3>
      <h5>{{currentUser.fullName | titlecase}}</h5>
    </div>
  </div>
  <div class="user-profile-header-part user-profile-additional">
    <div class="additional-info">
      <img src="assets/img/icon-mail.png">
      <p>Email: {{currentUser.email}}</p>
    </div>
    <div class="additional-info">
      <img src="assets/img/icons8-place-marker-100.png">
      <p>Email</p>
    </div>
    <div class="additional-info">
      <img src="assets/img/icons8-approval-100.png">
      <p>Email</p>
    </div>
  </div>
  <div class="user-profile-header-part user-profile-additional no-border">
    <div class="additional-info">
      Số bài viết: 
    </div>
    <div class="additional-info">
      số bình luận
    </div>
    <div class="additional-info">
      số tỉnh đi qua
    </div>
  </div>
</div>
<div class="user-activities">
  <div class="user-profile-part">

  </div>
  <div class="user-profile-part">

  </div>
</div>
