<div class="container-fluid masterpage-layout">
    <div class="row">
        <app-header></app-header>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-3 col-md-3">
            <app-navigation-bar></app-navigation-bar>
        </div>
        <div class="col-xs-11 col-sm-8 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <app-navigation-bar></app-navigation-bar>
<div class="layout">
    <app-header></app-header>
    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
</div> -->

