@import 'src/styles.scss';

$BACKGROUND_COLOR: #ebedee;

:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: fit-content;
    max-width: 250px;
    min-width: 150px;

    margin: 2px;
    padding: 2px;
    border: 1px solid #eeeef4;
    box-shadow: 1px 0px 13px 0px rgba(82, 63, 105, 0.05);

    .cardview-img {
        width: 100%;
        height: fit-content;
        min-height: 50px;
        background-color: #dfe4eb;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .cardview-content {
        display: block;
        border-top: 1px solid #dfe4eb;

        overflow: hidden;
        word-wrap: break-word;

        div {
            padding: 10px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                border-top: 1px solid #eeeef4;
                border-bottom: 1px solid #eeeef4;
                padding: 10px;
            }
        }

        button {
            margin: auto;
        }
    }
}