@import "src/styles.scss";

@media (min-width: 768px) {
  :host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    .chart-box {
      min-width: 45%;
      min-height: 45%;
      flex: 1 1;
      display: flex;
      flex-direction: column;
      padding: 10px;

      .chart-box-tile {
        border-bottom: 1px solid $GRAY;

        p {
          margin: 0;
        }
      }

      .chart-draw {
        flex: 1 1;
        margin: 15px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
    :host {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
    
        .chart-box {
          min-height: 45%;
          flex: 1 1;
          display: flex;
          flex-direction: column;
          padding: 10px;
          min-width: 50%;
    
          .chart-box-tile {
            border-bottom: 1px solid $GRAY;
    
            p {
              margin: 0;
            }
          }
    
          .chart-draw {
            flex: 1 1;
            margin: 15px;
          }
        }
      }
}
