<div class="content-box chart-box">
  <div class="chart-box-tile">
    <h3>{{compLanguage.trendSearchCharTitle}}</h3>
    <p>{{compLanguage.trendSearchChartDes}} {{this.theMostSearchKeyword}}</p>
  </div>
  <div class="chart-draw" id="piechart-search">
    <!-- <div id ="chartdiv"></div> -->
  </div>
</div>
<div class="content-box chart-box">
  <div class="chart-box-tile">
    <h3>{{compLanguage.trendPostViewChartTitle}}</h3>
    <p>{{compLanguage.trendTop10PostViewAmount}}</p>
  </div>
  <div class="chart-draw" id="columnchart-postview">
  </div>
</div>