<div class="row">
  <div class="col-12">
    <!-- avatar and textarea -->
    <div class="row">
      <div class="pr-0 col-1">
        <img src="assets/img/itravel.png" alt="avatar" class="img-fluid">
      </div>
      <div class="col-11">
        <textarea #commentContent rows="4" maxlength="200"></textarea>
      </div>
    </div>
    <!-- send button -->
    <div class="row">
      <!-- <div class="col-sm-9"></div> -->
      <div class="col-12">
        <div class="text-right">
          <button class="btn btn-success" (click)="onSendComment(commentContent)">Send comment</button>
        </div>
      </div>
    </div>
  </div>
</div>