<div class="row">
  <div class="col-12">
    <!-- avatar and textarea -->
    <div class="row m-0">
      <!-- <div class="">
        <img [src]="commentAuthorAvatar" alt="avatar" class="img-fluid rounded-circle">
      </div> -->
      <div class="rounded-circle avatar" [ngStyle]="{'background-image': 'url(' + commentAuthorAvatar + ')'}">
      </div>
      <div class="col pr-0">
        <textarea #commentContent rows="4" maxlength="200"></textarea>
      </div>
    </div>
    <!-- send button -->
    <div class="row">
      <!-- <div class="col-sm-9"></div> -->
      <div class="col-12">
        <div class="text-right">
          <button class="btn btn-success" (click)="onSendComment(commentContent)">{{ compLanguage.sendBtn }}</button>
        </div>
      </div>
    </div>
  </div>
</div>