:host {
    textarea {
        width: 100%;
        border: none;
        padding-left: 10px;
        border-right: 3px solid black;
        font-size: 17px;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    img {
        background-color: black;
        border-radius: 0.25rem;
    } // .no-padding-right {
    //     padding-right: 0px;
    // }
    // .no-padding-left {
    //     padding-left: 0px;
    // }
    button {
        margin-top: 10px;
        font-size: 17px;
        font-weight: bold;
    }
}