@import 'src/styles.scss';

:host {
    display: flex;
    width: 100%;
    height: 100%;

    .permission-management {
        display: flex;
        flex-direction: column;
        padding: 10px;

        .permission-management-title {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $GRAY;

            h4 {
                font-weight: bolder;
            }
        }
    }
    .permission-management-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex: 1 1;

        .select-account {
            flex: 1;
            margin: 5px;
            height: 100%;
            display: flex;
            flex-direction: column;

            input {
                font-size: 16px;
                margin: 5px 0px;
            }

            .list-account {
                flex: 1;
                overflow-y: scroll;
                padding: 3px;

                div {
                    font-size: 16px;
                    border-bottom: 0.5px solid $LIGHT;
                    padding: 3px 5px;
                }

                div:hover {
                    background-color: $LIGHT;
                }
            }
        }

        .account-control {
            flex: 1;
            display: flex;
            overflow-y: auto;
            flex-flow: wrap;
            scroll-snap-type: none;
            
            .account-info {
                display: flex;
                flex: 1 1;
                flex-direction: column;
                align-items: stretch;
                padding: 10px;

                img {
                    margin: 10px;
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                    align-self: center;
                }

                h4 {
                    font-weight: bold;
                    font-size: 18px;
                    margin: 3px;
                    text-align: center;
                }

                span {
                    font-size: 16px;
                    text-align: center;
                }

                .setting-for-account {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    input {
                        margin: 0 5px;
                        min-width: 55px;
                    }

                    select, option {
                        margin: 5px;
                        font-size: 16px;
                        min-width: 50px;
                        max-width: 35%;
                    }
                }

                .mess {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    color: $GREEN;
                    font-weight: bold;
                    padding: 5px;
                }

                .mess-err {
                    color: $RED !important;
                }
            }

            .setting-row {
                border-bottom: 1px solid $SECONDARY;
                border-top: 1px solid $SECONDARY;
                padding: 10px 5px;

                display: flex;
                flex-direction: column;
                align-items: stretch;

                label {
                    font-weight: 700;
                }

                span, label {
                    font-size: 16px;
                }

                input {
                    font-size: 16px;
                    height: 100%;
                    padding: unset 5px;
                }
            }
        }
    }
}

.modal-body {
    input, label {
        font-size: 16px;
    }

    .form-group {
        border-top: 1px solid $SECONDARY;
        margin: 10px 0;
        padding: 5px 0;
    }
}