@import 'src/styles.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    .navBarHeader {
        height: $HEADER_HEIGHT;
        width: 100%;
        position: fixed;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        img {
            width: 50px;
            height: 50px;
            margin: 5px;
        }
        

    }
    .navBarMenu {
        margin-top: $HEADER_HEIGHT;
        height: 100%;
        max-height: 90vh;
        overflow-y: auto;
        width: 100%;
        position: absolute;
        z-index: 9;
        filter: sepia(100%) saturate(360%) grayscale(0) contrast(140%) hue-rotate(56deg) invert(16%)
        app-navbar-menu {
            width: 100%;
        }
    }
    .navBarMenu::-webkit-scrollbar {
        width: 1px;
        border-radius: 10px;
    }
    .navBarToolBar {
        height: $HEADER_HEIGHT;
        width: 100%;
        position: fixed;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 10;
        background-color: aqua;
    }
}