@import 'src/styles.scss';

:host {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow-y: auto;

    border: 1px solid $SECONDARY;

    .cost {
        min-height: 100px;

        span {
            font-size: 24px;
            font-weight: 700;
            color: red;;
        }

        .sub {
            font-size: 14px;
            font-weight: 100;
        }
    }

    .slot {
        min-height: 45px;
        border-top: 1px solid $SECONDARY;
        border-bottom: 1px solid $SECONDARY;
        margin-bottom: 3px;

        .available {
            font-size: 17px;
            color: green;
        }

        .full-slot {
            font-size: 17px;
            color: red;
            font-style: italic;
        }
    }

    input.btn {
        font-size: 20px;
        font-weight: 600;
        padding: 10px unset;
        margin: 5px;
    }

    .register-form {
        padding: 10px;

        select, option, label, textarea, input {
            font-size: 16px;
        }

        .cost-total {

            div {
                font-size: 16px;
                color: gray;
            }
            
        }
    }
}