<div *ngFor="let schedule of tourData.schedules; let scheduleIndex=index"
  class="schedule-item">
  <!-- left -->
  <div class="left-icon">
    <div class="line"
      [ngClass]="{'hide': scheduleIndex<=0}"></div>
    <span class="fas fa-dot-circle icon"></span>
    <div class="line"
      [ngClass]="{'hide': scheduleIndex>=tourData.schedules.length-1}">
    </div>
  </div>

  <!-- right -->
  <div class="right-content">
    <!-- schedule item -->
    <div class="row m-0 p-0">
      <div class="col-4 p-0">
        <span><b>{{compLanguage.from+' '}}</b></span>
        <span>{{schedule.beginTime | date:'h:mm\' a - d/M'}}</span>
      </div>
      <div class="col-4 p-0">
        <span><b>{{compLanguage.to+' '}}</b></span>
        <span>{{schedule.endTime | date:'h:mm\' a - d/M'}}</span>
      </div>
    </div>
    <div>
      <span><b>{{compLanguage.location+': '}}</b></span>
      <span>{{schedule.location}}</span>
    </div>
    <div>
      <span><b>{{compLanguage.task+': '}}</b></span>
      <span *ngFor="let task of schedule.tasks"> {{task}} </span>
    </div>
    <div class="joining">
      <span><b>{{compLanguage.joiningMember+': '}}</b></span>
      <div
        class="avatar"
        *ngFor="let memInfo of participantInfos[scheduleIndex]; let i=index"
        [ngStyle]="{'background-image': 'url(' + memInfo.info.avatar + ')'}">
      </div>
    </div>
    <span *ngIf="tourData.status === TOUR_STATUS.PENDING && schedule.cost"><b>{{compLanguage.scheduleCost+':'}}
      </b>{{schedule.cost | currency:'VND'}}</span>
    <span
      *ngIf="schedule.note"><b>{{compLanguage.note+': '}}</b>{{schedule.note}}</span>
  </div>
</div>
