<div *ngIf="recentNotificationItems.length>0">
  <div 
    class="noti-container" 
    [ngClass]="{'not-seen': !noti.seen}" 
    *ngFor="let noti of recentNotificationItems"
    (click)="handleSeeNotification(noti)">
    <div class="header" (mouseenter)="handleShowContent(content,shortContent)"
      (mouseleave)="handleHideContent(content,shortContent)">
      <div class="avatar-frame">
        <div class="avatar"></div>
      </div>
      <div #shortContent class="header-content show">
        {{noti.content.slice(0,50)+' ...'}}
      </div>
      <div class="time">
        <span>{{getTime(noti)[0]}}</span>
        <span>{{getTime(noti)[1]}}</span>
      </div>
    </div>
    <div #content class="content">
      {{noti.content}}
    </div>
  </div>
</div>
<div class="noti-container" *ngIf="!userService.isLogin">
  {{language.currentLanguage.notificationNeedLogin}}
</div>
<div class="noti-container" *ngIf="userService.isLogin && recentNotificationItems.length===0">
  {{language.currentLanguage.notificationNoMessage}}
</div>