@import 'src/styles.scss';

:host {
    display: block;
    min-height: 40px;
    max-height: 50px;
    
    .noti-container {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    
}