<!-- <div *ngIf="listNotifications.length>0">
  <div>
    <div class="noti-container" *ngFor="let noti of listNotifications">
      <div>
        <h5>{{language.currentLanguage.notificationFrom}}</h5>
      </div>
      <div>
        <p>{{noti.content}}</p>
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="listNotifications.length>0">
  <div class="noti-container" [ngClass]="{seen: noti.seen}" *ngFor="let noti of listNotifications">
    <div class="header" (mouseenter)="handleShowContent(content,shortContent)"
      (mouseleave)="handleHideContent(content,shortContent)">
      <div class="avatar-frame">
        <div class="avatar"></div>
      </div>
      <div #shortContent class="header-content show">
        {{noti.content.slice(0,50)+' ...'}}
      </div>
      <div class="time">
        <span>{{getTime(noti)[0]}}</span>
        <span>{{getTime(noti)[1]}}</span>
      </div>
    </div>
    <div #content class="content">
      {{noti.content}}
    </div>
  </div>
</div>
<div class="noti-container" *ngIf="!listNotifications.length>0">
  {{language.currentLanguage.notificationNeedLogin}}
</div>