@import 'src/styles.scss';
:host {
    display: block;
    width: 250px;
    max-height: 400px; // overflow-y: scroll;
    .noti-container {
        padding: 5px;
        background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .avatar-frame {
                .avatar {
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    background-image: url("/assets/img/icons8-male-user-96.png");
                    background-size: cover;
                }
            }
            .header-content.show {
                margin: 0 6px;
                max-height: 35px;
                overflow: hidden;
                font-style: italic;
                display: block;
            }
            .header-content {
                display: none;
            }
            .time {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
        .content {
            display: none;
            opacity: 0;
            text-align: justify;
        }
        .content.show {
            display: block;
            opacity: 1;
        }
    }
    .seen {
        background-color: white;
    }
}