<div class="border-box tour-containner">
  <form class="flex-1">
    <div class="stepper" *ngIf="stepperService.getStep() === 1">
      <h3 class="page-title">{{language.currentLanguage.addTourInfoTitle}}</h3>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourName}}</label>
        <div class="row-input">
          <input [(ngModel)]="tourModel.tourName" name="tour-name" type="text" class="form-control"
            [placeholder]="language.currentLanguage.addTourEnterName">
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourDesc}}</label>
        <div class="row-input">
          <textarea rows="3" class="form-control" [(ngModel)]="tourModel.description" name="tour-description"
            style="resize:none" [placeholder]="language.currentLanguage.addTourEnterDesc"></textarea>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourBeginTime}}</label>
        <div class="row-input flex-row">
          <div class="flex-1 flex-items-center">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="startDate"
                [minDate]="today" (ngModelChange)="validateStartEndDate()" ngbDatepicker #startdate="ngbDatepicker"
                #modalstartdate="ngModel">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="startdate.toggle()" type="button">
                  <span><i class="fas fa-calendar-alt"></i></span>
                </button>
              </div>
            </div>
          </div>
          <div class="flex-1 flex-row flex-items-center">
            <ngb-timepicker name="startTime" [(ngModel)]="startTime"></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourEndTime}}</label>
        <div class="row-input flex-row">
          <div class="flex-1 flex-items-center">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="endDate" ngbDatepicker
                [minDate]="startDate" #enddate="ngbDatepicker" #modalenddate="ngModel">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="enddate.toggle()" type="button">
                  <span><i class="fas fa-calendar-alt"></i></span>
                </button>
              </div>
            </div>
          </div>
          <div class="flex-1 flex-row flex-items-center">
            <ngb-timepicker name="endTime" [(ngModel)]="endTime"></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourEndFeedbackTime}}</label>
        <div class="row-input flex-row">
          <div class="flex-1 flex-items-center">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="deadline" [(ngModel)]="feedbackDeadline"
                ngbDatepicker [maxDate]="startDate" #feedbackdeadline="ngbDatepicker" #modalfeedbackDeadline="ngModel">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="feedbackdeadline.toggle()" type="button">
                  <span><i class="fas fa-calendar-alt"></i></span>
                </button>
              </div>
            </div>
          </div>
          <div class="flex-1 flex-row flex-items-center">
            <ngb-timepicker name="feedbackTime" [(ngModel)]="feedbackTime"></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourEndRegisterTime}}</label>
        <div class="row-input flex-row">
          <div class="flex-1 flex-items-center">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="register-deadline"
                [(ngModel)]="registerDeadline" ngbDatepicker [maxDate]="startDate" #registerdeadline="ngbDatepicker"
                #modalregisterdeadline="ngModel">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="registerdeadline.toggle()" type="button">
                  <span><i class="fas fa-calendar-alt"></i></span>
                </button>
              </div>
            </div>
          </div>
          <div class="flex-1 flex-row flex-items-center">
            <ngb-timepicker name="registerTime" [(ngModel)]="registerTime"></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourProvince}}</label>
        <div class="row-input select-field">
          <select class="form-control flex-1" multiple>
            <option *ngFor="let province of arrProvince" (click)="selectProvince(province)">
              {{province.provinceName}}
            </option>
          </select>
          <div class="selected-field flex-1">
            <div class="tag" *ngFor="let province of arrSelectedProvince" (click)="removeProvince(province)">
              {{province.provinceName}}
              <span _ngcontent-c11="" class="fas fa-times-circle esc-btn"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourLocation}}</label>
        <div class="row-input flex-col">
          <div class="flex-row" style="margin-bottom: 3px;">
            <div class="flex-1">
              <input type="text" [placeholder]="language.currentLanguage.addTourEnterLocation" class="form-control"
                name="location-name" [(ngModel)]="searchLocationName">
            </div>
            <div class="flex-1">
              <input type="button" class="form-control btn-warning" style="margin-left: 6px; width: 97%;"
                [value]="language.currentLanguage.addTourNewLocation" (click)="openNewLocationDialog(addlocation)">
            </div>
          </div>
          <div class="flex-row select-field">
            <select class="form-control flex-1" multiple>
              <option *ngFor="let location of arrLocations" (click)="selectItem(arrSelectedLocation, location)">
                {{location.locationName}}
              </option>
            </select>
            <div class="selected-field flex-1">
              <div class="tag" *ngFor="let location of arrSelectedLocation"
                (click)="removeItem(arrSelectedLocation, location)">
                {{location.locationName}}
                <span _ngcontent-c11="" class="fas fa-times-circle esc-btn"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">
          {{language.currentLanguage.addSchedulePerform}}
        </label>
        <div class="row-input flex-col">
          <div class="row-input select-field">
            <select class="form-control flex-1" multiple>
              <option *ngFor="let tourguide of arrTourguides" (click)="selectItem(arrSelectedTourguide, tourguide)">
                {{tourguide.displayName}} ({{tourguide.username}})
              </option>
            </select>
            <div class="selected-field flex-1">
              <div class="tag" *ngFor="let tourguide of arrSelectedTourguide"
                (click)="removeItem(arrSelectedTourguide, tourguide)">
                {{tourguide.displayName}}
                <span _ngcontent-c11="" class="fas fa-times-circle esc-btn"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="stepper" *ngIf="stepperService.getStep() === 2">
      <h3 class="page-title">{{language.currentLanguage.addTourSchedulesTitle}}</h3>
      <div class="flex-row">
        <h4>{{language.currentLanguage.addTourAddSchedule}} {{language.currentLanguage.from}}
          {{startDate.day}}/{{startDate.month}} {{language.currentLanguage.to}} {{endDate.day}}/{{endDate.month}}</h4>
      </div>
      <div class="form-group flex-row">
        <app-add-schedule *ngFor="let schedule of tourModel.schedules; let i = index" [scheduleModel]="schedule"
          [index]="i"></app-add-schedule>
      </div>
      <div class="flex-row flex-justify-space-between flex-align-center">
        <h4>
          {{language.currentLanguage.addTourScheduleCost}}
        </h4>
        <input type="button" (click)="addShedule()" [value]="language.currentLanguage.addTourAddSchedule"
          class="btn btn-warning" style="width: fit-content;">
      </div>
    </div>
    <div class="stepper" *ngIf="stepperService.getStep() === 3">
      <h3 class="page-title">{{language.currentLanguage.addTourPreparationTitle}}</h3>
      <div class="form-group flex-row">
        <label class="row-label">
          {{language.currentLanguage.addTourTourguide}}
        </label>
        <div class="row-input">
          <select class="form-control">
            <option *ngFor="let tourguide of arrSelectedTourguide" [value]="tourguide._id">
              {{tourguide.displayName}} ({{tourguide.username}})
            </option>
          </select>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">
          {{language.currentLanguage.addTourContact}}
        </label>
        <div class="row-input">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">
          {{language.currentLanguage.addTourLimitMembers}}
        </label>
        <div class="row-input input-group">
          <input type="number" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text">{{language.currentLanguage.addTourPeople}}</span>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">
          {{language.currentLanguage.addTourRegisterCost}}
        </label>
        <div class="row-input input-group">
          <input type="number" class="form-control" name="cost">
          <div class="input-group-append">
            <span class="input-group-text">.VND</span>
          </div>
        </div>
      </div>
      <div class="flex-col">
        <app-add-preparation></app-add-preparation>
      </div>
    </div>
  </form>
  <div *ngIf="errorMess !== ''" class="alert alert-danger" style="margin-top: 5px">
    {{errorMess}}
  </div>
  <div class="steps-control">
    <input type="button" [value]="language.currentLanguage.prev" class="btn btn-outline-success"
      (click)="stepperService.toPrev()" [disabled]="stepperService.getStep() === 1">
    <input type="button" [value]="language.currentLanguage.next" class="btn btn-outline-success"
      (click)="validatePage()" [disabled]="stepperService.getStep() === stepperService.getMaxStep()">
  </div>
</div>
<div class="border-box tourguide-container">
</div>

<ng-template #addlocation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{language.currentLanguage.addTourNewLocation}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="!isLoading" [formGroup]="addLocationForm">
      <div class="form-group">
        <label>{{language.currentLanguage.addTourLocationName}}</label>
        <input type="text" class="form-control" formControlName="locationName"
          [placeholder]="language.currentLanguage.enter + language.currentLanguage.addTourLocationName">
        <span
          *ngIf="!addLocationForm.get('locationName').valid && (addLocationForm.get('locationName').dirty || addLocationForm.get('locationName').touched)"
          class="error-mess form-text text-muted">
          {{language.currentLanguage.thisFieldIsRequired}}
        </span>
      </div>
      <div class="form-group">
        <label>{{language.currentLanguage.addTourLocationProvince}}</label>
        <select class="form-control" multiple formControlName="provinceCity">
          <option *ngFor="let province of arrProvince">
            {{province.provinceName}}
          </option>
        </select>
        <span
          *ngIf="!addLocationForm.get('provinceCity').valid && (addLocationForm.get('provinceCity').dirty || addLocationForm.get('provinceCity').touched)"
          class="error-mess form-text text-muted">
          {{language.currentLanguage.thisFieldIsRequired}}
        </span>
        <small>{{language.currentLanguage.addTourNoteSelectMore}}</small>
      </div>
      <div class="form-group">
        <label>{{language.currentLanguage.addTourLocationGPS}}</label>
        <input type="text" class="form-control" formControlName="gps"
          [placeholder]="language.currentLanguage.enter + language.currentLanguage.addTourLocationGPS">
      </div>
      <div class="form-group">
        <label>{{language.currentLanguage.addTourLocationAddress}}</label>
        <input type="text" class="form-control" formControlName="address"
          [placeholder]="language.currentLanguage.enter + language.currentLanguage.addTourLocationAddress">
        <span
          *ngIf="!addLocationForm.get('address').valid && (addLocationForm.get('address').dirty || addLocationForm.get('address').touched)"
          class="error-mess form-text text-muted">
          {{language.currentLanguage.thisFieldIsRequired}}
        </span>
      </div>
    </form>
    <div class="alert" *ngIf="addLocationMessage !== ''"
      [ngClass]="{'alert-success': !hasError, 'alert-danger': hasError}">
      {{addLocationMessage}}
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">{{language.currentLanguage.cancel}}</button>
    <button type="button" class="btn btn-success" [disabled]="!addLocationForm.valid" (click)="addLocation()">
      {{language.currentLanguage.ok}}
    </button>
  </div>
</ng-template>