@import 'src/styles.scss';

:host {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-grow: 12;
    flex-wrap: wrap;

    .tour-containner {
        display: flex;
        flex: 7;
        flex-direction: column;
        justify-content: stretch;
    }

    .tourguide-container {
        display: flex;
        flex: 5;
        flex-direction: column;
        justify-content: stretch;
    }
}