<div class="border-box tour-containner">
  <h1>{{language.currentLanguage.addTourInfoTitle}}</h1>
  <form>
    <div class="stepper" *ngIf="stepperService.getStep() === 1">
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourName}}</label>
        <div class="row-input">
          <input type="text" class="form-control" [placeholder]="language.currentLanguage.addTourEnterName">
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourDesc}}</label>
        <div class="row-input">
          <textarea rows="4" class="form-control" [placeholder]="language.currentLanguage.addTourEnterDesc"
            style="resize:none"></textarea>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourBeginTime}}</label>
        <div class="row-input flex-row">
          <div class="flex-1 flex-items-center">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="startDate"
                ngbDatepicker #startdate="ngbDatepicker" #modelstartdate="ngModel">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="startdate.toggle()" type="button">
                  <span><i class="fas fa-calendar-alt"></i></span>
                </button>
              </div>
            </div>
          </div>
          <div class="flex-1 flex-row flex-items-center">
            <ngb-timepicker name="startTime" [(ngModel)]="startTime"></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourEndTime}}</label>
        <div class="row-input flex-row">
          <div class="flex-1 flex-items-center">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="endDate" ngbDatepicker
                #enddate="ngbDatepicker" #modelenddate="ngModel">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="enddate.toggle()" type="button">
                  <span><i class="fas fa-calendar-alt"></i></span>
                </button>
              </div>
            </div>
          </div>
          <div class="flex-1 flex-row flex-items-center">
            <ngb-timepicker name="endTime" [(ngModel)]="endTime"></ngb-timepicker>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourProvince}}</label>
        <div class="row-input select-provinces">
          <select class="form-control flex-1" multiple>
            <option *ngFor="let province of arrProvince" (click)="selectProvince(province)">
              {{province.provinceName}}
            </option>
          </select>
          <div class="selected-field flex-1">
            <div class="tag" *ngFor="let province of arrSelectedProvince" (click)="removeProvince(province)">
              {{province.provinceName}}
              <span _ngcontent-c11="" class="fas fa-times-circle esc-btn"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group flex-row">
        <label class="row-label">{{language.currentLanguage.addTourLocation}}</label>
        <div class="row-input flex-row">
          <div class="flex-1 select-locations">
            <input type="text" [placeholder]="language.currentLanguage.addTourEnterLocation" class="form-control"
              name="location-name" [(ngModel)]="searchLocationName">
            <select class="form-control" multiple>
              <option *ngFor="let location of arrLocations" (click)="selectLocation(location)">
                {{location.locationName}}
              </option>
            </select>
          </div>
          <div class="flex-1 flex-col selected-locations">
            <input type="button" class="form-control btn-success" [value]="language.currentLanguage.addTourNewLocation"
              (click)="openNewLocationDialog(addlocation)">
            <div class="selected-field flex-1">
              <div class="tag" *ngFor="let location of arrSelectedLocation" (click)="removeLocation(location)">
                {{location.locationName}}
                <span _ngcontent-c11="" class="fas fa-times-circle esc-btn"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="stepper" *ngIf="stepperService.getStep() === 2">
      <div class="form-group flex-row">
        <app-add-schedule></app-add-schedule>
      </div>
    </div>
  </form>
  <div class="steps-control">
    <input type="button" [value]="language.currentLanguage.prev" class="btn btn-outline-success">
    <input type="button" [value]="language.currentLanguage.next" class="btn btn-outline-success">
  </div>
</div>
<div class="border-box tourguide-container">
</div>

<ng-template #addlocation let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{language.currentLanguage.addTourNewLocation}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form *ngIf="!isLoading" [formGroup]="addLocationForm">
      <div class="form-group">
        <label>{{language.currentLanguage.addTourLocationName}}</label>
        <input type="text" class="form-control" formControlName="locationName"
          [placeholder]="language.currentLanguage.enter + language.currentLanguage.addTourLocationName">
        <span
          *ngIf="!addLocationForm.get('locationName').valid && (addLocationForm.get('locationName').dirty || addLocationForm.get('locationName').touched)"
          class="error-mess form-text text-muted">
          {{language.currentLanguage.thisFieldIsRequired}}
        </span>
      </div>
      <div class="form-group">
        <label>{{language.currentLanguage.addTourLocationProvince}}</label>
        <select class="form-control" multiple formControlName="provinceCity">
          <option *ngFor="let province of arrProvince">
            {{province.provinceName}}
          </option>
        </select>
        <span
          *ngIf="!addLocationForm.get('provinceCity').valid && (addLocationForm.get('provinceCity').dirty || addLocationForm.get('provinceCity').touched)"
          class="error-mess form-text text-muted">
          {{language.currentLanguage.thisFieldIsRequired}}
        </span>
        <small>{{language.currentLanguage.addTourNoteSelectMore}}</small>
      </div>
      <div class="form-group">
        <label>{{language.currentLanguage.addTourLocationGPS}}</label>
        <input type="text" class="form-control" formControlName="gps"
          [placeholder]="language.currentLanguage.enter + language.currentLanguage.addTourLocationGPS">
      </div>
      <div class="form-group">
        <label>{{language.currentLanguage.addTourLocationAddress}}</label>
        <input type="text" class="form-control" formControlName="address"
          [placeholder]="language.currentLanguage.enter + language.currentLanguage.addTourLocationAddress">
        <span
          *ngIf="!addLocationForm.get('address').valid && (addLocationForm.get('address').dirty || addLocationForm.get('address').touched)"
          class="error-mess form-text text-muted">
          {{language.currentLanguage.thisFieldIsRequired}}
        </span>
      </div>
    </form>
    <div class="alert" *ngIf="addLocationMessage !== ''"
      [ngClass]="{'alert-success': !hasError, 'alert-danger': hasError}">
      {{addLocationMessage}}
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">{{language.currentLanguage.cancel}}</button>
    <button type="button" class="btn btn-success" [disabled]="!addLocationForm.valid" (click)="addLocation()">
      {{language.currentLanguage.ok}}
    </button>
  </div>
</ng-template>