@import 'src/styles.scss';

$BACKGROUND_COLOR: #ebedee;

:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: fit-content;
    max-width: 500px;
    min-width: 150px;

    margin: 5px;
    padding: 5px;
    border: 1px solid #eeeef4;
    box-shadow: 1px 0px 13px 0px rgba(82, 63, 105, 0.05);
    cursor: pointer;

    .cardview-img {
        width: 100%;
        height: fit-content;
        min-height: 100px;
        background-color: #dfe4eb;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .cardview-content {
        display: flex;
        flex-direction: column;
        border-top: 1px solid #dfe4eb;

        overflow: hidden;
        word-wrap: break-word;

        justify-content: center;

        h4 {
            font-weight: bolder;
            margin-bottom: 5px;
            margin-top: 10px;
            text-align: justify;
        }

        div {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;

            margin-bottom: 5px;
            
            span {
                color: $GRAY;
                margin-right: 15px;
                font-weight: bold;
            }
        }

        p {
            word-wrap: break-word;
            overflow: hidden;
            max-height: 75px;
            text-align: justify;
        }

    }
}

:host:hover {
    .cardview-content {
        h4 {
            color: $BLUE;
        }
    }
}