<div id="master-page" class="container-fluid master-page">
    <div class="header-position">
        <app-header></app-header>
    </div>
    <div class="row no-gutter master-page-main">
        <div class="navbar-position"
            [ngClass]="{'navbar-show': mtpService.isShowFullNavBar, 'navbar-hide': !mtpService.isShowFullNavBar}">
            <app-navigation-bar></app-navigation-bar>
        </div>
        <div class="master-page-content router-outlet-position"
            [ngClass]="{'router-outlet-navbar-show': mtpService.isShowFullNavBar, 'router-outlet-navbar-hide': !mtpService.isShowFullNavBar, 'router-outlet-login': user.isLogin}">
            <router-outlet></router-outlet>
        </div>
        <div class="user-toolbar toolbar-position" *ngIf="user.isLogin">
            <div class="toolbar-part toolbar-post">
                <span [routerLink]="['/create-post']" [ngbTooltip]="tipNewPost" placement="left"><i
                        class="fas fa-edit"></i></span>
                <span [routerLink]="['/manager/posts']" *ngIf="user.currentUser.isAdmin" placement="left"
                    [ngbTooltip]="tipPostManagement" container-id="master-page">
                    <i class="fas fa-clipboard-check"></i></span>

            </div>
            <div class="toolbar-part toolbar-admin">
                <span [routerLink]="['/manager/permissions']" *ngIf="user.currentUser.isAdmin"
                    [ngbTooltip]="tipUserManagement" placement="left"><i class="fab fa-black-tie"></i></span>
            </div>
            <div class="toolbar-part toolbar-tour">
                <span [routerLink]="['/tours/add-tour']" *ngIf="user.currentUser.isAdmin" [ngbTooltip]="tipNewTour"
                    placement="left"><i class="fas fa-journal-whills"></i></span>
                <span [routerLink]="['/tours/manager']" *ngIf="user.currentUser.isAdmin"
                    [ngbTooltip]="tipTourManagement" placement="left"><i class="fas fa-route"></i></span>
            </div>
        </div>
    </div>
</div>

<ng-template #tipNewPost>{{compLanguage.tooltipNewPost}}</ng-template>
<ng-template #tipPostManagement>{{compLanguage.tooltipPostManagement}}</ng-template>
<ng-template #tipUserManagement>{{compLanguage.tooltipUserManagement}}</ng-template>
<ng-template #tipNewTour>{{compLanguage.tooltipNewTour}}</ng-template>
<ng-template #tipTourManagement>{{compLanguage.tooltipTourManagement}}</ng-template>