<div id="master-page" class="container-fluid master-page">
    <div class="row">
        <app-header></app-header>
    </div>
    <div class="row no-gutter master-page-main">
        <div
            [ngClass]="{'navbar-show': this.mtpService.isShowFullNavBar, 'navbar-hide': !this.mtpService.isShowFullNavBar}">
            <app-navigation-bar></app-navigation-bar>
        </div>
        <div class="master-page-content">
            <router-outlet></router-outlet>
        </div>
        <div class="user-toolbar" *ngIf="this.user.isLogin">
            <div class="toolbar-part toolbar-post">
                <span [routerLink]="['/create-post']" [ngbTooltip]="tipNewPost" placement="left"><i class="fas fa-edit"></i></span>
                <span [routerLink]="['/manager/posts']" *ngIf="this.user.currentUser.isAdmin" placement="left" [ngbTooltip]="tipPostManagement" container-id="master-page">
                    <i class="fas fa-clipboard-check"></i></span>

            </div>
            <div class="toolbar-part toolbar-admin">
                <span [routerLink]="['/manager/permissions']" *ngIf="this.user.currentUser.isAdmin" [ngbTooltip]="tipUserManagement" placement="left"><i
                        class="fab fa-black-tie"></i></span>
            </div>
            <div class="toolbar-part toolbar-tour">
                <span [routerLink]="['/tours/add-tour']" *ngIf="this.user.currentUser.isAdmin" [ngbTooltip]="tipNewTour" placement="left"><i
                        class="fas fa-journal-whills"></i></span>
                <span [routerLink]="['/tours/manager']" *ngIf="this.user.currentUser.isAdmin" [ngbTooltip]="tipTourManagement" placement="left"><i
                        class="fas fa-route"></i></span>
            </div>
        </div>
    </div>
</div>

<ng-template #tipNewPost>{{compLanguage.tooltipNewPost}}</ng-template>
<ng-template #tipPostManagement>{{compLanguage.tooltipPostManagement}}</ng-template>
<ng-template #tipUserManagement>{{compLanguage.tooltipUserManagement}}</ng-template>
<ng-template #tipNewTour>{{compLanguage.tooltipNewTour}}</ng-template>
<ng-template #tipTourManagement>{{compLanguage.tooltipTourManagement}}</ng-template>
