@import 'src/styles.scss';

:host {
    width: 100%;
    height: 100%;
    display: block;

    .master-page-main {
        width: 100%;
        flex: 1;
        max-height: 100vh;
        
        app-navigation-bar {
            height: 100%;
        }

        .navbar-show {
            width: $NAVBAR_WIDTH_SHOW;
        }

        .navbar-hide {
            width: $NAVBAR_WIDTH_HIDE;
        }

        .master-page-content {
            flex: 1;
            background-color: $CONTENT_BACKGROUND_COLOR;
            max-height: 91vh;
        }

        .user-toolbar {
            height: 100%;
            width: 50px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            border-top: 1px solid $GRAY;
            padding-top: 2px;
            overflow: hidden;
            
            span {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                
                i {
                    font-size: 16px;
                    // color: $GREEN;
                }
            }

            span:hover {
                background-color: $SECONDARY;
            }

            .toolbar-part {
                border-bottom: 2px solid $SECONDARY;
            }

            .toolbar-post {
                color: $ORANGE;
            }

            .toolbar-admin {
                color: $RED;
            }

            .toolbar-tour {
                color: $GREEN;
            }
        }
    }

    app-header {
        width: 100%;
    }

    // To clear bootstrap default margin and padding properties
    .master-page {
        margin:  0;
        padding: 0;
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .no-gutter > [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}