<div class="container-fluid master-page">
    <div class="row">
        <app-header></app-header>
    </div>
    <div class="row no-gutter master-page-main">
        <div [ngClass]="{'navbar-show': this.mtpService.isShowFullNavBar, 'navbar-hide': !this.mtpService.isShowFullNavBar}">
            <app-navigation-bar></app-navigation-bar>
        </div>
        <div class="master-page-content">
            <router-outlet></router-outlet>
        </div>
        <div class="user-toolbar" *ngIf="this.user.isLogin">
            <span [routerLink]="['/create-post']"><i class="fas fa-edit"></i></span>
            <span [routerLink]="['/manager/posts']" *ngIf="this.user.currentUser.isAdmin"><i class="fas fa-clipboard-check"></i></span>
            <span [routerLink]="['/manager/permissions']" *ngIf="this.user.currentUser.isAdmin"><i class="fab fa-black-tie"></i></span>
            <span [routerLink]="['/tours/add-tour']" *ngIf="this.user.currentUser.isAdmin"><i class="fas fa-journal-whills"></i></span>
        </div>
    </div>
</div>


