<div class="feedback-form">
  <h3>{{compLanguage.feedbackTitle}}</h3>
  <div [ngClass]="{'alert': true, 'alert-success': isSuccess, 'alert-danger': isFail}" *ngIf="isSuccess || isFail" role="alert">
    {{this.message}}
  </div>
  <form>
    <div class="feedback-row two-col">
      <div>
        <label for="name" >{{compLanguage.feedbackName}} <span>(*)</span> </label>
        <input type="text" [(ngModel)]="feedback.name" name="name"
          class="form-control" id="name" [placeholder]="compLanguage.feedbackEnterName" required >
      </div>
      <div>
        <label for="kindof" >{{compLanguage.feedbackKindOf}} <span>(*)</span></label>
        <select class="form-control" id="kindof" [(ngModel)]="feedback.kindOf" name="kindof">
          <option selected="selected">{{compLanguage.feedbackAboutContent}}</option>
          <option>{{compLanguage.feedbackAboutSystem}}</option>
          <option>{{compLanguage.feedbackAboutUser}}</option>
          <option>{{compLanguage.feedbackAboutPolicies}}</option>
          <option>{{compLanguage.feedbackAboutOthers}}</option>
        </select>
      </div>
    </div>

    <div class="feedback-row two-col">
      <div>
        <label for="username" >{{compLanguage.feedbackUsername}} <span>(*)</span></label>
        <input type="text" [(ngModel)]="feedback.from" name="username" [disabled]="user.isLogin"
          class="form-control" id="username" [placeholder]="compLanguage.feedbackEnterUsername" required>
      </div>
      <div>
        <label for="contact" >{{compLanguage.feedbackAdditionalContact}}</label>
        <input type="datetime" [(ngModel)]="feedback.contact" name="contact"
          class="form-control" id="contact" [placeholder]="compLanguage.feedbackEnterAdditionalContact">
      </div>
    </div>

    <div class="feedback-row">
      <div>
        <label for="content" >{{compLanguage.feedbackContent}} <span>(*)</span></label>
        <textarea [(ngModel)]="this.feedback.content" name="content"
          class="form-control" id="content" rows="11" [placeholder]="compLanguage.feedbackEnterContent" required></textarea>
      </div>
    </div>

    <div class="feedback-row row-center">
      <div>
        <button type="submit" (click)="submitForm()" class="btn btn-success">{{compLanguage.feedbackSubmit}}</button>
        <button (click)="cancelForm()" class="btn btn-danger">{{compLanguage.feedbackCancel}}</button>
      </div>
    </div>
  </form>
</div>
