/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap/dist/css/bootstrap.css";

$HEADER_HEIGHT: 65px;

html, body  {
    height: 100%;
    width: 100%;
    margin: 0;
}