<div class="modal-header">
  <h4 class="modal-title">{{compLanguage.editTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-body-custom">
  <app-loading *ngIf="isUpdating"></app-loading>
  <ngb-tabset *ngIf="!isUpdating">
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="title">{{compLanguage.summary}}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="flex-col tab-content">
          <div class="flex-row form-group">
            <label class="row-label">{{compLanguage.tourName}}</label>
            <div class="row-input">
              <input class="form-control" [(ngModel)]="tourModel.tourName">
            </div>
          </div>
          <div class="flex-row form-group">
            <label class="row-label">{{compLanguage.description}}</label>
            <div class="row-input">
              <textarea class="form-control" [(ngModel)]="tourModel.description" style="resize: none"
                rows="3"></textarea>
            </div>
          </div>
          <div class="flex-row form-group">
            <label class="row-label">{{compLanguage.cover}}</label>
            <div class="row-input" style="display: block">
              <img *ngIf="!isUploadingImg" [src]="tourModel.cover" style="width: 100%; height: auto;">
              <app-loading *ngIf="isUploadingImg"></app-loading>
            </div>
          </div>
          <div class="flex-row form-group flex-justify-end">
            <input type="file" style="visibility: hidden" id="input-cover" #inputFile (change)="onCoverPicked($event)">
            <input type="button" class="btn form-control btn-warning"
              [value]="commonLanguage.enter + compLanguage.cover" (click)="inputFile.click()"
              [disabled]="isUploadingImg">
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- End Tab 1 -->
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="title">{{compLanguage.locations}}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="flex-col tab-content">
          <app-location-editing [locationIds]="tourModel.locationIds"></app-location-editing>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- End Tab 2 -->
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="title">{{compLanguage.register}}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="flex-col tab-content flex-1">
          <app-timeline-editing [tourData]="tourModel"></app-timeline-editing>
          <br />
          <div class="flex-row form-group">
            <label class="row-label">{{compLanguage.memberLimit}}</label>
            <div class="row-input">
              <input type="number" class="form-control" name="member-limit" [(ngModel)]="tourModel.memberLimit">
            </div>
          </div>
          <div class="flex-row form-group">
            <label class="row-label">{{compLanguage.registerCost}}</label>
            <div class="row-input flex-row">
              <input type="number" class="form-control" name="member-limit" [(ngModel)]="tourModel.registerCost">
            </div>
          </div>
          <br />
          <div class="flex-row form-group">
            <label class="row-label">{{compLanguage.tourguide}}</label>
            <div class="row-input flex-row">
              <select class="form-control" [(ngModel)]="tourModel.tourGuideId">
                <option [value]="tourguide._id" *ngFor="let tourguide of arrTourguide">
                  {{tourguide.displayName}}
                </option>
              </select>
            </div>
          </div>
          <div class="flex-row form-group">
            <label class="row-label">{{compLanguage.tourguideContact}}</label>
            <div class="row-input flex-row">
              <input type="text" class="form-control" name="member-limit" [(ngModel)]="tourModel.contactNumber">
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- End Tab 5 -->
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="title">{{compLanguage.schedule}}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="flex-col tab-content">
          <app-schedule-editing *ngFor="let schedule of tourModel.schedules; let i = index" [scheduleModel]="schedule"
            [index]="i">
          </app-schedule-editing>
          <div class="flex-row flex-justify-space-between" style="margin-top: 5px;">
            <h4 style="color: red; font-weight: 600;">
              {{compLanguage.scheduleCost}} {{scheduleCost | currency:'VND'}}
            </h4>
            <input type="button" class="form-control btn btn-warning" [value]="compLanguage.addSchedule"
              (click)="addShedule()">
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- End Tab 3 -->

    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="title">{{compLanguage.preparation}}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="flex-col tab-content">
          <app-preparation-editing *ngFor="let preparation of tourModel.preparations; let i = index"
            [preparationModel]="preparation" [index]="i"></app-preparation-editing>
          <div class="flex-row flex-justify-space-between" style="margin-top: 5px;">
            <h4 style="color: red; font-weight: 600;">

            </h4>
            <input type="button" class="form-control btn btn-warning" [value]="compLanguage.addPreparation"
              (click)="addPreparation()">
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <!-- End Tab 4 -->

    <ngb-tab>
      <ng-template ngbTabTitle>
        <b class="title">{{compLanguage.addPreformer}}</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="flex-col tab-content">
          <app-add-preformer [tourMembers]="tourModel.members"></app-add-preformer>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="openModal(canceledit)">{{commonLanguage.cancel}}</button>
  <button type="button" class="btn btn-outline-success" (click)="openModal(edittour)">{{commonLanguage.ok}}</button>
</div>

<ng-template #edittour let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{compLanguage.editTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{compLanguage.editTourMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss()">{{commonLanguage.cancel}}</button>
    <button type="button" class="btn btn-outline-success" (click)="editTour(); modal.dismiss()">{{commonLanguage.ok}}</button>
  </div>
</ng-template>

<ng-template #canceledit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{compLanguage.editTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{compLanguage.cancelEditMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss()">{{commonLanguage.cancel}}</button>
    <button type="button" class="btn btn-outline-success"
      (click)="modal.dismiss(); activeModal.close()">{{commonLanguage.ok}}</button>
  </div>
</ng-template>