<div class="content-box post-management">
  <div class="post-management-title">
    <h4>
      {{compLanguage.userPostManagementTitle}}
    </h4>
    <span (click)="refreshListPost()"><i class="fas fa-sync-alt"></i></span>
  </div>
  <div class="post-management-content">
    <div class="post-management-control">
      <form class="form-inline">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="chosenKindOfPost">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton (click)="filterListPostByPostStatus('ANY')" type="radio" [value]="FLAG_KIND_OF_POST.ALL"> {{compLanguage.userPostManagementAllPost}}
          </label>
          <label ngbButtonLabel class="btn-success">
            <input ngbButton (click)="filterListPostByPostStatus(this.constant.POST_STATUS.APPROVED)" type="radio" [value]="FLAG_KIND_OF_POST.APPROVED">{{compLanguage.userPostManagementApproved}}
          </label>
          <label ngbButtonLabel class="btn-warning">
            <input ngbButton (click)="filterListPostByPostStatus(this.constant.POST_STATUS.PENDING)" type="radio" value="FLAG_KIND_OF_POST.PENDING">{{compLanguage.userPostManagementPending}}
          </label>
          <label ngbButtonLabel class="btn-danger">
            <input ngbButton (click)="filterListPostByPostStatus(this.constant.POST_STATUS.DENY)" type="radio" [value]="FLAG_KIND_OF_POST.DENIED">{{compLanguage.userPostManagementDenied}}
          </label>
        </div>

        <div class="form-group">
          <label class="control-title">{{compLanguage.userPostManagementTablePostName}}:</label>
          <input name="post-title" (input)="filterListPostByTypingKeyWord()" [(ngModel)]="searchKeyword" class="form-control" type="text" [placeholder]="compLanguage.userPostManagementEnterPostTitle">
        </div>
        <div class="form-group">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{compLanguage.userPostManagementPostTimeTitle}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">{{compLanguage.userPostManagementPostTimeOneWeek}}</button>
              <button class="dropdown-item">{{compLanguage.userPostManagementPostTimeOneMonth}}</button>
              <button class="dropdown-item">{{compLanguage.userPostManagementPostTimeAll}}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="this.hasError" class="alert alert-danger" role="alert">
      {{this.errorMessage}}
    </div>
    <div class="post-management-table">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{compLanguage.userPostManagementTablePostName}}</th>
            <th scope="col">{{compLanguage.userPostManagementTablePostCreationTime}}</th>
            <th scope="col">{{compLanguage.userPostManagementTablePostCategories}}</th>
            <th scope="col">{{compLanguage.userPostManagementTablePostStatus}}</th>
            <th scope="col" class="action-cell">{{compLanguage.userPostManagementTableAction}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of listShowPost">
            <td>{{listShowPost.indexOf(post) + 1}}</td>
            <td><strong>{{post.title}}</strong></td>
            <td>{{post.createdTime | date}}</td>
            <td>{{post.categories}}</td>
            <td [ngClass]="{'green-text': post.status.indexOf(this.constant.POST_STATUS.APPROVED) !== -1, 'red-text': post.status.indexOf(this.constant.POST_STATUS.DENY) !== -1, 'yellow-text': post.status.indexOf(this.constant.POST_STATUS.PENDING) !== -1}">
              <i class="fas fa-circle tiny-icon"></i> {{post.status | titlecase}}
            </td>
            <td class="action-cell">
              <span class="action-icon" (click)="openPostViewDialog(postreview, post._id)" *ngIf="post.status.indexOf(this.constant.POST_STATUS.PENDING) !== -1 || post.status.indexOf(this.constant.POST_STATUS.DENY) !== -1"><i class="fas fa-eye"></i></span>
              <span class="action-icon" [routerLink]="['/view-post/', post._id]" *ngIf="post.status.indexOf(this.constant.POST_STATUS.APPROVED) !== -1"><i class="fas fa-eye"></i></span>
              <span class="action-icon" [routerLink]="['/create-post/', post._id]" *ngIf="post.status.indexOf(this.constant.POST_STATUS.PENDING) !== -1 || post.status.indexOf(this.constant.POST_STATUS.DENY) !== -1"><i class="far fa-edit"></i></span>
              <span class="action-icon" (click)="openPostViewDialog(editconfirm, post._id)" *ngIf="post.status.indexOf(this.constant.POST_STATUS.APPROVED) !== -1"><i class="far fa-edit"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #postreview let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{this.compLanguage.postManagementPostViewTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body review-post-body">
    <app-post id="review-post" [postId]="postViewId"></app-post>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">{{this.compLanguage.postManagementPostViewOk}}</button>
  </div>
</ng-template>

<ng-template #editconfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{this.compLanguage.userPostManagementEditTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body review-post-body">
      {{this.compLanguage.userPostManagementEditMessage}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()">{{this.compLanguage.userPostManagementEditCancel}}</button>
    <button type="button" class="btn btn-success" [routerLink]="['/create-post/', postViewId]" (click)="modal.close()" >{{this.compLanguage.userPostManagementEditOK}}</button>
  </div>
</ng-template>