:host {
    // button {
    //     font-size: 17px;
    //     font-weight: bold;
    // }
    .comp {
        border-bottom: 2px solid black;
    }
    .ratingColor {
        color: goldenrod;
    }
    span {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}